/* NOTICE styles */
.notice-wrap {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 400px;
	z-index: 10000;
}


* html .notice-wrap {
	position: absolute;
}

.notice-item {
	background: #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #eee;
	padding: 10px 10px 0 10px;
	border: 1px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.notice-title {
	font-size: 1.2em;
	display: block;
	margin-bottom: 0.5em;
}

.notice-error {
	border-color: #df8f90;
	background-color: #ffd2d3;
	background-image: url("../icons/error.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-error .notice-title {
	color: #871414;
}

.notice-warning {
	border-color: #e5db55;
	background-color: #fefccb;
	background-image: url("../icons/warning.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-warning .notice-title {
	color: #8f8b20;
}

.notice-info {
	border-color: #9fc7f5;
	background-color: #dbecff;
	background-image: url("../icons/info.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-info .notice-title {
	color: #2850c1;
}

.notice-success {
	border-color: #9adf8f;
	background-color: #d4ffcd;
	background-image: url("../icons/success.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-success .notice-title {
	color: #258815;
}

.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:-40%; /* width/2) */
}

.overlay {
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

table.table-hover tbody tr:hover {
    cursor:pointer;
}


.preview {
    background-color: white;
    position:absolute;
    right: 10px;
    top: 10px;
    z-index: 2000;
}
