{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>{% block title %}{{ block.super }}{% endblock %}</title>{% block head %}{{ block.super }}{% endblock %}
 <link rel="stylesheet" type="text/css" href="{% static 'gds/base.css' %}"/>
 <link rel="stylesheet" type="text/css" href="{% static 'gds/style.css' %}"/>
 <link rel="icon" href="{% static 'gds/icons/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
 <script src="{% static 'js/sorttable.js' %}" type="text/javascript"></script>
</head>
<body>
<div id="page">
<div id="header">
 <div id="header-content">
  <span id="GDS">GDS</span>
  <span id="GDSver">2018.327#2e228d4 &copy; <a href="http://www.gempa.de">gempa GmbH</a></span>{% if user.is_authenticated  %}
  <span id="user">Welcome, <strong>{{ user.username }}</strong>. {% if user.is_superuser or user.is_staff %}<a href="{% url 'admin:index' %}">Configure</a> / {% endif %}<a href="{% url 'logout' %}?next={{request.path}}">Log out</a></span>{% else %}
  <span id="user"><a href="{% url 'login' %}?next={% url 'gds-index' %}">Log in</a></span>{% endif %}
 </div>
</div>{% block messages %}{% if messages %}
<ul class="messages">{% for message in messages %}
 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}
</ul>{% endif %}{% endblock %}
<div id="breadcrumbs">
 <span>{% block breadcrumbs %}{{ block.super }}{% endblock %}</span>
 <span class="right">{% block nav_ext %}{{ block.super }}{% endblock %}</span>
</div>
<hr style="padding:0;margin:0;margin-bottom:1em;border:0;border-bottom:1px solid #eeeeee"/>
<div id="gds-content">
<headline><h1>{% block headline %}{{ block.super }}{% endblock %}</h1><span>{% block headlinenav %}{{ block.super }}{% endblock %}</span></headline>
{% block content %}{{ block.super }}{% endblock %}
</div>
</div>
</body>
</html>
