{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static %}<html>
<head>
 <link rel="stylesheet" type="text/css" href="{% static 'gds/base.css' %}"/>
 <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
 <link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}?v=2.1.7" type="text/css" media="screen" />
 <script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}?v=2.1.7'"></script>{% comment %} uncomment for video support
 <script type="text/javascript" src="{% static 'js/fancybox/helpers/jquery.fancybox-media.js' %}?v=1.0.6"></script>{% endcomment %}
 <script type="text/javascript">
   $(document).ready(function() {
     $(".fancybox").fancybox();
   });
 </script>
</head>
<body style="padding:1em">{% if type == 0 %}
{% if content.subject %}
<h2>{{ content.subject }}</h2>
{% endif %}
{% if content.html %}
<div style="background-color:#fdeeb3;border:1px solid #f1c43f;color:#d1a41f;text-align:center">
  <a name="html">HTML</a>
</div>
<div id="html">
{{ content.html|safe }}
</div>
{% endif %}
{% if content.plain %}
<div style="background-color:#fdeeb3;border:1px solid #f1c43f;color:#d1a41f;text-align:center">
  <a name="text">Text</a>
</div>
<div id="plain">
<pre>
{{ content.plain }}
</pre>
</div>
{% endif %}
{% if content.attachments %}
<div style="background-color:#fdeeb3;border:1px solid #f1c43f;color:#d1a41f;text-align:center">
  <a name="attachments">Attachments</a>
</div>
<div id="attachments">
<ul>{% for a in content.attachments %}
<li>{% if a.content %}<a rel="group" class="fancybox" title="{{ a.name }}" href="data:{% if a.MIME %}{{ a.MIME }}{% endif %};base64,{{ a.content }}">{% endif %}{{ a.name }}{% if a.path %} (ext: {{ a.path }}){% endif %}{% if a.content %}</a>{% endif %}</li>
{% endfor %}</ul>
</div>
{% endif %}
{% endif %}{% if type == 1 %}<table>{% for key, value in content.items %}
<tr><td>{{ key }}</td><td>{{ value }}</td></tr>{% endfor %}
</table>{% endif %}{% if type == 2 %}
<pre>
{{ content }}
</pre>{% endif %}
</body>
</html>
