{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
	{% spaceless %}{% if pages > 1 %}
<ul class="pagination">{% comment %}{% if has_previous %}
  <li><a href="?p={{ previous }}{{ query_str }}">&laquo; Prev</a></li>{% endif %}{% endcomment %}{% if not in_leading_range %}
{% for p in pages_outside_trailing_range %}
  <li><a href="?p={{ p }}{{ query_str }}">{{ p }}</a></li>{% endfor %}
  <li><span class="ellipsis">...</span></li>{% endif %}{% for p in page_range %}{% if p == page %}
  <li><span class="active">{{ p }}</span></li>{% else %}
  <li><a href="?p={{ p }}{{ query_str }}">{{ p }}</a></li>{% endif %}
{% endfor %}{% if not in_trailing_range %}
  <li><span class="ellipsis">...</span></li>{% for p in pages_outside_leading_range reversed %}
  <li><a href="?p={{ p }}{{ query_str }}">{{ p }}</a></li>{% endfor %}{% endif %}{% comment %}{% if has_next %}
  <li><a href="?p={{ next }}{{ query_str }}">Next &raquo;</a></li>{% endif %}{% endcomment %}
</ul>
{% endif %}{% endspaceless %}
