{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load breadcrumbs static %}
{% block title %}GDS{% endblock %}
{% block breadcrumbs %}Home{% endblock %}
{% block content %}
<div class="main-menu">
  <a class="main-menu{% if not perms.gds.view_disseminate %} disabled{% endif %}" href="{% url 'gds-publish' %}">
    <svg><use xlink:href="{% static 'gds/icons/icons.svg' %}#gds"
    transform="scale(1.5)"></use></svg>
    <div>
      <h3>Disseminate</h3>
      <p>Select event for manual dissemination</p>
    </div>
  </a>
  <a class="main-menu{% if not perms.gds.view_event_log %} disabled{% endif %}" href="{% url 'gds-log' %}">
    <svg><use xlink:href="{% static 'gds/icons/icons.svg' %}#log"
    transform="scale(1.5)"></use></svg>
    <div>
      <h3>Log</h3>
      <p> Check the dissemination log</p>
    </div>
  </a>
  <a class="main-menu{% if not user.is_superuser and not user.is_staff %} disabled{% endif %}" href="{% url 'admin:index' %}">
    <svg><use xlink:href="{% static 'gds/icons/icons.svg' %}#config"
    transform="scale(1.5)"></use></svg>
    <div>
      <h3>Configure</h3>
      <p>Add queues, manage subscriptions, configure authentication ...</p>
    </div>
  </a>
</div>
{% endblock %}
