{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static breadcrumbs %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' %}{% endblock %}
{% block headline %}Dissemination Log{% endblock %}
{% block content %}
<div class="main-menu">
  <a class="main-menu" href="{% url 'gds-log-proc' %}">
    <svg><use xlink:href="{% static 'gds/icons/icons.svg' %}#log-proc"
    transform="scale(1.5)"></use></svg>
    <div>
      <h3>Procedure Log</h3>
      <p>Browse the log by dissemination time</p>
    </div>
  </a>
  <a class="main-menu" href="{% url 'gds-log-event' %}">
    <svg><use xlink:href="{% static 'gds/icons/icons.svg' %}#log-event"
    transform="scale(1.5)"></use></svg>
    <div>
      <h3>Event Log</h3>
      <p>Browse the log by event time</p>
    </div>
  </a>
</div>
{% endblock %}
