{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static timeutils digg_paginator breadcrumbs gds_extras %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' 'gds-log' %}
{% breadcrumb_url 'Procedures' %}
{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-event' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Event Log</a> |
<a href="{% url 'gds-publish' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Disseminate</a>
{% endblock %}
{% block headline %}History of Dissemination Procedures{% endblock %}
{% block headlinenav %}{% if recent %}
<a href="?y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show calendar perspective" src="{% static 'gds/icons/calendar.png' %}"/></a>{% else %}
<a href="?recent&y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show most recent dissemination procedures" src="{% static 'gds/icons/recent.png' %}"/>{% endif %}{% endblock %}
{% block content %}{% if recent %}
<p>Listing the {{ recent }} most recent dissemination precedures</p>{% else %}
<ul class="cal y">{% for y in years %}<li class="y">{% if y == year %}<span class="active">{{ y }}</span>{% else %}<a href="?y={{ y }}&m={{ month }}&d={{ day }}">{{ y }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal m">{% for m in months %}<li>{% if m.1 == month %}<span class="active">{{ m.0 }}</span>{% else %}<a href="?y={{ year }}&m={{ m.1 }}&d={{ day }}">{{ m.0 }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal d">{% for d in days %}<li>{% if d == day %}<span class="active">{{ d }}</span>{% else %}<a href="?y={{ year }}&m={{ month }}&d={{ d }}">{{ d }}</a>{% endif %}</li>{% endfor %}</ul>{% endif %}
<table border="1" class="lineselect sortable logproc">
<thead>
  <tr>
    <th title="Dissemination status">S</th>
    <th>Event ID</th>
    <th title="Dissemination start time">Dissemination Time<br/><span class="sub">UTC</span></th>
    <th title="Revision, sequence number in the list of event updates">Rev.</th>
    <th title="Event time">Origin Time<br/><span class="sub">UTC</span></th>
    <th title="Magnitude">M</th>
    <th>Latitude<br/><span class="sub">degree</span></th>
    <th>Longitude<br/><span class="sub">degree</span></th>
    <th>Depth<br/><span class="sub">km</span></th>
    <th>Content-Type</th>
    <th title="Login name of the user which triggered the dissemination. For automatic events the author 'gds' is used.">Author</th>
    <th title="Allows to destinguish multiple GDS instances operating on the same database">GDS ID</th>
  </tr>
</thead>
<tbody>{% for o in objects %}
  <tr class="{{ o.max_status|gds_status_class }}">
    <td class="{{ o.max_status|gds_status_class }}"/>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.event_id }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.timestamp|date:"Y-m-d H:i:s" }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.revision|gds_string }}</a></td>
    <td title="{{ o.origin_time|date:"Y-m-d H:i:s" }}{{ o.origin_time_ms|gds_ms }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.origin_time|date:"Y-m-d H:i:s"|gds_string }}</a></td>
    <td title="{{ o.magnitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.magnitude|gds_float:1 }}</a></td>
    <td title="{{ o.latitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.latitude|gds_float:3 }}</a></td>
    <td title="{{ o.longitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.longitude|gds_float:3 }}</a></td>
    <td title="{{ o.depth }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.depth|gds_float:0 }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.content_type|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.author|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.gds_id|gds_string }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% if paginator %}{% digg_paginator %}{% endif %}
{% endblock %}
