{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load digg_paginator breadcrumbs gds_extras %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' 'gds-log' %}{% if paginator %}
{% url 'gds-log-event' as url_log_event %}{% breadcrumb 'Events' url_log_event date_params %}
{% breadcrumb_url event_id %}
{% else %}
{% breadcrumb_url 'Events' 'gds-log-event' %}
{% breadcrumb_url 'unknown' %}
{% endif %}{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-proc' %}{% if date_query %}?{{ date_query }}{% endif %}">Procedure Log</a> |
<a href="{% url 'gds-publish-event' event_id|urlencode %}">Disseminate</a>
{% endblock %}
{% block headline %}Event Dissemination History{% endblock %}
{% block content %}{% if paginator %}<p>{{ event_id }}</a></p>
<table border="1" class="sortable lineselect eventlogid">
<thead>
  <tr>
    <th title="Dissemination status">S</th>
    <th title="Dissemination start time">Dissemination Time<br/><span class="sub">UTC</span></th>
    <th title="Revision, sequence number in the list of event updates">Rev.</th>
    <th title="Event time">Origin Time<br/><span class="sub">UTC</span></th>
    <th title="Magnitude">M</th>
    <th>Latitude<br/><span class="sub">degree</span></th>
    <th>Longitude<br/><span class="sub">degree</span></th>
    <th>Depth<br/><span class="sub">km</span></th>
    <th>Content-Type</th>
    <th title="Login name of the user which triggered the dissemination. For automatic events the author 'gds' is used.">Author</th>
    <th title="Allows to destinguish multiple GDS instances operating on the same database">GDS ID</th>
  </tr>
</thead>
<tbody>{% for o in objects %}
  <tr class="{{ o.max_status|gds_status_class }}">
    <td class="{{ o.max_status|gds_status_class }}"/>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.timestamp|date:"Y-m-d H:i:s" }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.revision|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.origin_time|date:"Y-m-d H:i:s"|gds_string }}{{ o.origin_time_ms|gds_ms }}</a></td>
    <td title="{{ o.magnitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.magnitude|gds_float:1 }}</a></td>
    <td title="{{ o.latitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.latitude|gds_float:3 }}</a></td>
    <td title="{{ o.longitude }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.longitude|gds_float:3 }}</a></td>
    <td title="{{ o.depth }}"><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.depth|gds_float:0 }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.content_type|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.author|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-proc-id' o.id %}">{{ o.gds_id|gds_string }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% digg_paginator %}{% endif %}{% endblock %}
