{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% block head %}
<script language="javascript" type="text/javascript">
 function toggleDetails() {
   if ( document.getElementById("details").style.display == "none" )
     document.getElementById("details").style.display = "";
   else
     document.getElementById("details").style.display = "none";
 }
</script>
{% endblock %}
{% load timeutils breadcrumbs gds_extras %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' 'gds-log' %}{% if log %}
{% url 'gds-log-proc' as url_log_proc %}{% breadcrumb 'Procedures' url_log_proc date_params %}
{% breadcrumb_url log.event_log.id 'gds-log-proc-id' log.event_log.id %}
{% breadcrumb name %}
{% else %}
{% breadcrumb_url 'Procedures' 'gds-log-proc' %}
{% breadcrumb 'unknown' %}
{% endif %}{% endblock %}
{% block nav_ext %}{% if log %}
<a href="{% url 'gds-log-event-id' log.event_log.event_id|urlencode %}">Event Log</a> |
<a href="{% url 'gds-publish-event' log.event_log.event_id|urlencode %}">Disseminate</a>
{% endif %}{% endblock %}
{% block headline %}Service Log{% if log %} - {{ name }}{% endif %}{% endblock %}{% block content %}{% if log %}
<div class="{{ log.status|gds_status_class }}-box">
Event {{ eventname }} {% comment %}
{% endcomment %}{% if log.status < 0 or log.status > 2 %}could not be sent through service {{ name }}{% comment %}
{% endcomment %}{% else %}was spooled to service {{ name }} {# {{ log.timestamp|utc_timesince }} ago #}{% comment %}
  {% endcomment %}{% if log.status == 0 %}and was sent successfully to all recipients{% comment %}
  {% endcomment %}{% else %}{% if log.status == 1 %}and is waiting for dissemination by spooler{% comment %}
  {% endcomment %}{% else %}but could not be sent to some recipients{% endif %}{% endif %}{% comment %}
{% endcomment %}{% endif %}{% comment %}
{% endcomment %}{% if log.message %}
<span class="right" style="cursor:pointer" onclick="toggleDetails()">&raquo; toggle details</span>
<div id="details" class="box-details" style="display:none">
{{ log.message|escape|linebreaksbr }}
</div>{% endif %}
</div>{% block servicecontent %}{% endblock %}{% endif %}{% endblock %}
