{% extends "gds/log_service_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static %}
{% block head %}
 {{ block.super }}
 <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
 <link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}?v=2.1.7" type="text/css" media="screen" />
 <script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}?v=2.1.7"></script>{% comment %} uncomment for video support
 <script type="text/javascript" src="{% static 'js/fancybox/helpers/jquery.fancybox-media.js' %}?v=1.0.6"></script>{% endcomment %}
 <script language="javascript" type="text/javascript">
   function showPlain() {
     document.getElementById("plain").style.display = "";
     document.getElementById("l_plain").className = "on";
     tinymce.get("html").hide();
     document.getElementById("html").style.display = "none";
     document.getElementById("l_html").className = "";
   }

   function showHTML() {
     document.getElementById("plain").style.display = "none";
     document.getElementById("l_plain").className = "";
     document.getElementById("html").style.display = "";
     document.getElementById("l_html").className = "on";
     tinymce.get("html").show();
   }

   $(document).ready(function() {
     $(".fancybox").fancybox();

    tinymce.init({
      selector: 'textarea.mce',
      height: 368,
      menubar: false,
      theme: 'modern',
      readonly: true,
      paste_data_images: true,
      content_css: "{% static 'js/tinymce/skins/lightgray/content.min.css' %}",
    });
   });
 </script>
{% endblock %}
{% block servicecontent %}{% if not log.content %}{% comment %}
-------------
empty content
-------------
{% endcomment %}
<p>No content logged</p>{% else %}{% if bulletin %}{% comment %}
--------------
gempa bulletin
--------------
{% endcomment %}
<div class="bulletin-header">
 <span>GDS Bulletin</span>
 <div class="pager">{% if bulletin.html %}
  <label id="l_html" for="html"{% if not bulletin.plain %} class="on"{% endif %} onclick="showHTML()">HTML</label>{% endif %}{% if bulletin.plain %}
  <label class="on" id="l_plain" for="plain" onclick="showPlain()">Text</label>{% endif %}
 </div>
</div>
<div class="bulletin">{% if bulletin.subject %}
 <div class="subject">
  <table class="subject">
   <tr>
    <td><span>Subject:</span></td>
    <td width="100%"><input class="subject" type="text" name="subject" id="subject" value="{{ bulletin.subject }}" readonly="readonly"/></td>
   </tr>
  </table>
 </div>{% endif %}{% if bulletin.html %}
 <textarea style="{% if bulletin.plain %}display:none;{% endif %}width:100%;height:30em" class="mce" name="html" id="html" rows="30">{{ bulletin.html }}</textarea>{% endif %}{% if bulletin.plain %}
 <textarea name="plain" id="plain" rows="30" readonly="readonly">{{ bulletin.plain }}</textarea>{% endif %}{% if bulletin.attachments %}
 <div class="attachments">
   <table>{% for a in bulletin.attachments %}
     <tr>{% if forloop.first %}
       <td class="cell-header" rowspan="{{ bulletin.attachments|length }}">Attachments</td>{% endif %}
       <td>{% if a.content %}<a rel="group" class="fancybox" title="{{ a.name }}" href="data:{% if a.MIME %}{{ a.MIME }}{% endif %};base64,{{ a.content }}">{{ a.name }}</a>{% else %}{{ a.name }}{% endif %}</td>
       <td>{% if a.content %} base64:{{ a.content|length }} bytes{% elif a.path %} ext:{{ a.path }}{% endif %}</td>
     </tr>{% endfor %}{% for k,v in bulletin.extParameters.items %}
     <tr>{% if forloop.first %}
       <td class="cell-header" rowspan="{{ bulletin.extParameters|length }}">X-Header</td>{% endif %}
       <td>{{ k }}</td>
       <td>{{ v }}</td>
     </tr>{% endfor %}
   </table>
 </div>{% endif %}
</div>{% else %}{% if printable %}{% comment %}
----------------------
printable text content
----------------------
{% endcomment %}
<div class="bulletin-header"><span>Text content of {% if log.mime_type %}type '{{ log.mime_type }}'{% else %}unknown type{% endif %}</span></div>
<div class="bulletin"><textarea readonly="readonly">{{ log.content|safe }}</textarea></div>{% else %}{% comment %}
--------------
binary content
--------------
{% endcomment %}
<p>The content of {% if log.mime_type %}type '{{ log.mime_type }}'{% else %}unknown type{% endif %} contains non printable characters, hence it can't be shown here.</p>{% endif %}{% endif %}
<div class="linkbar">
 <ul>
  <li><a href="{% url 'gds-log-service' log.id %}">View recipients</a></li>
  <li class="last"><a href="{% url 'gds-log-service-content' log.id %}?download=1">Download content</a></li>
 </ul>
</div>{% endif %}{% endblock %}
