{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static timeutils digg_paginator breadcrumbs gds_extras %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' 'gds-log' %}
{% breadcrumb_url 'Events' %}
{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-proc' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Procedure Log</a> |
<a href="{% url 'gds-publish' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Disseminate</a>
{% endblock %}
{% block headline %}History of Disseminated Events{% endblock %}
{% block headlinenav %}{% if recent %}
<a href="?y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show calendar perspective" src="{% static 'gds/icons/calendar.png' %}"/></a>{% else %}
<a href="?recent&y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show most recent events" src="{% static 'gds/icons/recent.png' %}"/>{% endif %}{% endblock %}
{% block content %}{% if recent %}
<p>Listing the {{ recent }} most recent disseminated events</p>{% else %}
<ul class="cal y">{% for y in years %}<li class="y">{% if y == year %}<span class="active">{{ y }}</span>{% else %}<a href="?y={{ y }}&m={{ month }}&d={{ day }}">{{ y }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal m">{% for m in months %}<li>{% if m.1 == month %}<span class="active">{{ m.0 }}</span>{% else %}<a href="?y={{ year }}&m={{ m.1 }}&d={{ day }}">{{ m.0 }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal d">{% for d in days %}<li>{% if d == day %}<span class="active">{{ d }}</span>{% else %}<a href="?y={{ year }}&m={{ month }}&d={{ d }}">{{ d }}</a>{% endif %}</li>{% endfor %}</ul>{% endif %}
<table border="1" class="lineselect sortable">
<thead>
  <tr>
    <th title="Dissemination status">S</th>
    <th>Event ID</th>
    <th title="Event time, maximum of all revisions">Origin Time<br/><span class="sub">UTC</span></th>
    <th title="Last dissemination time">Dissemination Time<br/><span class="sub">UTC</span></th>
    <th>Number of disseminations</th>
  </tr>
</thead>
<tbody>{% for o in objects %}
  <tr class="{{ o.max_status|gds_status_class }}">
    <td class="{{ o.max_status|gds_status_class }}"/>
    <td><a href="{% url 'gds-log-event-id' o.event_id|urlencode %}">{{ o.event_id }}</a></td>
    <td><a href="{% url 'gds-log-event-id' o.event_id|urlencode %}">{{ o.otime|date:"Y-m-d H:i:s" }}</a></td>
    <td><a href="{% url 'gds-log-event-id' o.event_id|urlencode %}">{{ o.timestamp|date:"Y-m-d H:i:s" }}</a></td>
    <td><a href="{% url 'gds-log-event-id' o.event_id|urlencode %}">{{ o.num_diss }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% if paginator %}{% digg_paginator %}{% endif %}
{% endblock %}
