{% extends "gds/log_service_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load gds_extras digg_paginator %}
{% block servicecontent %}{% if objects %}
<table border="1" class="sortable">
<thead>
  <tr>
    <th>Subscriber</th>
    <th>Service Target</th>
    <th>Sent Time<br/><span class="sub">spooler processing time (UTC)</span></th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>{% for o in objects %}
    <tr{% if o.error %} class="error"{% endif %}>
      <td>{{ o.subscriber }}</td>
      <td>{{ o.target }}</td>
      <td>{{ o.timestamp|date:"Y-m-d H:i:s"|gds_string }}</td>
      <td title="{{ o.message|gds_string|escape }}">{{ o.message|gds_string:50|escape }}</td>
    </tr>{% endfor %}
  </tbody>
</table>
{% digg_paginator %}{% else %}
<p>No recipients found</p>
{% endif %}{% if log.content %}<br/>
<div class="linkbar">
  <ul>
    <li class="last"><a href="{% url 'gds-log-service-content' log.id %}">View content</a></a></li>
  </ul>
</div>{% endif %}{% endblock %}
