{% extends "gds/log_base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load digg_paginator breadcrumbs gds_extras %}{% block breadcrumbs %}
<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Log' 'gds-log' %}{% if log %}
{% url 'gds-log-proc' as url_log_proc %}{% breadcrumb 'Procedures' url_log_proc date_params %}
{% breadcrumb log.id %}
{% else %}
{% breadcrumb_url 'Procedures' 'gds-log-proc' %}
{% breadcrumb 'unknown' %}
{% endif %}{% endblock %}
{% block nav_ext %}{% if log %}
{% if log.event_id %}<a href="{% url 'gds-log-event-id' log.event_id|urlencode %}">Event Log</a> |
<a href="{% url 'gds-publish-event' log.event_id|urlencode %}">Disseminate</a>,{% endif %}
{% endif %}{% endblock %}
{% block headline %}Procedure Log {% endblock %}
{% block content %}{% if paginator %}
<p>{{ eventname }}, OT: {{ log.origin_time|date:"Y-m-d H:i:s"|gds_string }}{{ log.origin_time_ms|gds_ms }}, M {{ log.magnitude|gds_float:1 }}, Lat: {{ log.latitude|gds_float:3 }}, Lon: {{ log.longitude|gds_float:3 }}, Depth: {{ log.depth|gds_float:0 }}km<br/>
triggered at {{ log.timestamp|date:"Y-m-d H:i:s" }} by {{ log.author }}{% if log.gds_id %} on {{ log.gds_id }}{% endif %}{% if log.content_type %} with content type {{ log.content_type|escape }}</p>{% endif %}
<table border="1" class="lineselect sortable">
<thead>
  <tr>
    <th title="Dissemination status">S</th>
    <th>Service</th>
    <th>Filter<br/><span class="sub">subscription specific content filter</span></th>
    <th>Spool Time</br><span class="sub">creation time of spooler files (UTC)</span></th>
    <th>Log Message</th>
    <th title="Download the message content">D</th>
  </tr>
</thead>
<tbody>{% for o in objects %}
  <tr class="{{ o.status|gds_status_class }}">
    <td class="{{ o.status|gds_status_class }}"/>
    <td><a href="{% url 'gds-log-service' o.id %}">{{ o.service }}</a></td>
    <td><a href="{% url 'gds-log-service' o.id %}">{{ o.filter|gds_string }}</a></td>
    <td><a href="{% url 'gds-log-service' o.id %}">{{ o.timestamp|date:"Y-m-d H:i:s"|gds_string }}</a></td>
    <td title="{{ o.message|escape }}"><a href="{% url 'gds-log-service' o.id %}">{{ o.message|gds_string:50|escape }}</a></td>
    <td>{% if o.content %}<a href="{% url 'gds-log-service-content' o.id %}" class="view_content"></a>{% else %}<a href="{% url 'gds-log-service' o.id %}">-</a>{% endif %}</td>
  </tr>{% endfor %}
</tbody>
</table>
{% digg_paginator %}{% endif %}{% endblock %}
