{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}

{% block messages %}{% if form.errors %}
<ul class="messages">
<li class="error">Your username and password didn't match. Please try again.</li>
</ul>
{% endif %}{% endblock %}
{% load breadcrumbs %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'login' %}
{% endblock %}

{% block content %}

<form id='login-box' method="post" action="{% url 'login' %}">
{% csrf_token %}

  <h2>Login details</h2>
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
  <p id='login-desc'>This area is protected. Enter your username and password.</p>
  {% endif %}
  <div id='login-credentials'>
    <input type="hidden" name="next" value="{{ next }}" />
    <div class='login-box-name'>{{ form.username.label_tag }}</div>
    <div class='login-box-field' id='login-box-field-username'>
      {{ form.username }}
    </div>
    <div class='login-box-name'>{{ form.password.label_tag }}</div>
    <div class='login-box-field' id='login-box-field-password'>
      {{ form.password }}
    </div>
    <div style='clear:both'></div>
  </div>

  <div>
    <input type="submit" value="login" id='login-button'/>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

{% endblock %}
