{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load breadcrumbs %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% endblock %}
{% block headline %}Permission denied{% endblock %}
{% block content %}
<p class="perm">You don't have enough permissions for this operation!</p>
{% if request.META.HTTP_REFERER %}<a href="{{ request.META.HTTP_REFERER }}">back</a>{% endif %}
{% endblock %}
