{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load breadcrumbs %}
{% block title %}GDS Disseminate 3/3{% endblock %}
{% block head %}
<script type="text/javascript">
  function toggleVisible(container, control) {
    if ( document.getElementById(container).style.display != "none" ) {
      document.getElementById(container).style.display = "none";
      document.getElementById(control).className = "toggle closed";
    }
    else {
      document.getElementById(container).style.display = "";
      document.getElementById(control).className = "toggle open";
    }
    return true;
  }

  function updateSubscriptionCount(queueName) {
    var nchk = 0;
    var nunchk = 0;
    var queueCount = document.getElementById("cnt" + queueName)
    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == queueName) ) {
        if ( inps[i].checked )
          nchk++;
        else
          nunchk++;
      }
    queueCount.innerHTML = nchk + "/" + (nchk + nunchk)
  }

  function toggleSelect(queueControl) {
    inps = document.getElementsByTagName("input");
    queueControl.className = "slim"
    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == queueControl.value) )
        inps[i].checked = queueControl.checked

    updateSubscriptionCount(queueControl.value);
  }

  function updateState(userControl) {
    inps = document.getElementsByTagName("input");
    var nchk = 0;
    var nunchk = 0;
    var queueControl = document.getElementById("ctl" + userControl.name)
    var queueCount = document.getElementById("cnt" + userControl.name)

    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == userControl.name) ) {
        if ( inps[i].checked )
          nchk++;
        else
          nunchk++;
      }

    if ( nunchk != 0 && nchk != 0 ) {
      queueControl.className = "partial slim";
      queueControl.checked = true;
    }
    else {
      queueControl.className = "slim";
      queueControl.checked = nchk > 0;
    }

    queueCount.innerHTML = nchk + "/" + (nchk + nunchk)
  }

  function showPlain(ident) {
    document.getElementById(ident + "_plain").style.display = "";
    document.getElementById(ident + "_l_plain").className = "on";
    tinymce.get(ident + "_html").hide();
    document.getElementById(ident + "_html").style.display = "none";
    document.getElementById(ident + "_l_html").className = "";
  }

  function showHTML(ident) {
    document.getElementById(ident + "_plain").style.display = "none";
    document.getElementById(ident + "_l_plain").className = "";
    document.getElementById(ident + "_html").style.display = "";
    document.getElementById(ident + "_l_html").className = "on";
    tinymce.get(ident + "_html").show();
  }

  var editWins = new Array();

  function toggleBulletin(ident) {
    var cont = document.getElementById(ident + "_ctr");
    var btn = document.getElementById(ident + "_tgl");
    if ( cont.style.display == "none" ) {
      cont.style.display = "";
      btn.className = "on";
      document.getElementById('queues_ctr').style.display = "none"
    }
    else {
      cont.style.display = "none";
      btn.className = "";
      document.getElementById('queues_ctr').style.display = ""
    }

    // Disable all other
    for (var i = 0; i < editWins.length; ++i) {
      if ( editWins[i] == ident ) continue;
      var cont = document.getElementById(editWins[i] + "_ctr");
      var btn = document.getElementById(editWins[i] + "_tgl");
      cont.style.display = "none";
      btn.className = "";
    }
  }
</script>
{% endblock %}
{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Disseminate' 'gds-publish' %}
{% breadcrumb_url eventid 'gds-publish-event' eventid %}
{% breadcrumb_url refinement %}{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-event-id' eventid %}">Event Log</a>
{% endblock %}
{% block headline %}Dissemination 3/3: Subscription Selection{% endblock %}
{% block content %}{% if queues %}
<p class="info-box">
<u>{{ eventid }} (r{{ refinement }})</u></br>
You can switch to edit mode which allows to preview and edit bulletins before
sending them.<br/>
&raquo; <a href="{% url 'gds-publish-event-refinement' eventid refinement %}?edit=1">Switch to edit mode ...</a>
</p>
<form action="{% url 'gds-publish-event-refinement' eventid refinement %}" method="post">{% csrf_token %}
<div id="queues_ctr">
{% for q in queues %}{% if q.subscriptions %}
<div class="queue">
<span class="ctrl"><input class="slim{% if q.state %} {{ q.state }} {% endif %}" id="ctlQ_{{ q.id }}" type="checkbox" name="Q" value="Q_{{ q.id }}"{% if q.selected %} checked{% endif %} onchange="toggleSelect(this)"/>
  <span class="name">{{ q.name }}</span><div class="toggle closed" id="Q_{{ q.id }}_t" onclick="toggleVisible('Q_{{ q.id }}', this.id)"></div></span><span class="desc"><span id="cntQ_{{ q.id }}">{{ q.count }}</span><span class="right">{{ q.description }}</span></span>
</div>
<table border="1" class="sortable queues" id="Q_{{ q.id }}" style="display:none">
<thead>
<tr><th></th><th>Subscriber</th><th>Service</th><th>Filter</th><th>Target</th><th>Description</th><th>Priority</th><th>Match</th></tr>
</thead>
<tbody>{% for s in q.subscriptions %}
<tr>
<td><input class="slim" type="checkbox" name="Q_{{ q.id }}" value="S_{{ s.id }}_{{ s.match }}"{% if s.selected %} checked{% endif %} onchange="updateState(this)"/></td>
<td>{{ s.subscriber }}</td><td>{{ s.service }}</td><td>{% if s.filter %}{{ s.filter }}{% else %}-{% endif %}</td><td>{{ s.service_target }}</td><td>{{ s.description }}</td><td>{{ s.subscriber.priority }}</td><td>{% if s.match %} Yes{% else %}No{% endif %}</td>
</tr>{% endfor %}
</tbody>
</table>
{% endif %}{% endfor %}
</div>
<input id="submit" type="submit" value="Publish"{% if not perms.gds.publish_events %} title="You don't have the permission to publish events" disabled{% endif %}>
</form>
<div id="closure">
<script>
(
 function() {
   inps = document.getElementsByTagName("input");
   for ( var i = 0; i < inps.length; i++ )
     if ( (inps[i].type == 'checkbox') && (inps[i].name == "Q") )
       updateSubscriptionCount(inps[i].value);
 }
)();
</script>
</div>
{% endif %}{% endblock %}
