{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static breadcrumbs digg_paginator gds_extras %}
{% block title %}GDS Disseminate 1/3{% endblock %}
{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Disseminate' %}{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-proc' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Procedure Log</a> |
<a href="{% url 'gds-log-event' %}?{% if recent %}recent&{% endif %}y={{ year }}&m={{ month }}&d={{ day }}">Event Log</a>
{% endblock %}
{% block headline %}Dissemination 1/3: Event Selection{% endblock %}
{% block headlinenav %}{% if recent %}
<a href="?y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show calendar perspective" src="{% static 'gds/icons/calendar.png' %}"/></a>{% else %}
<a href="?recent&y={{ year }}&m={{ month }}&d={{ day }}"><img title="Show most recent events" src="{% static 'gds/icons/recent.png' %}"/>{% endif %}{% endblock %}
{% block content %}{% if recent %}
<p>Listing the {{ recent }} most recent events</p>{% else %}
<ul class="cal y">{% for y in years %}<li class="y">{% if y == year %}<span class="active">{{ y }}</span>{% else %}<a href="?y={{ y }}&m={{ month }}&d={{ day }}">{{ y }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal m">{% for m in months %}<li>{% if m.1 == month %}<span class="active">{{ m.0 }}</span>{% else %}<a href="?y={{ year }}&m={{ m.1 }}&d={{ day }}">{{ m.0 }}</a>{% endif %}</li>{% endfor %}</ul>
<ul class="cal d">{% for d in days %}<li>{% if d == day %}<span class="active">{{ d }}</span>{% else %}<a href="?y={{ year }}&m={{ month }}&d={{ d }}">{{ d }}</a>{% endif %}</li>{% endfor %}</ul>{% endif %}
<p class="help info-box">
Click on an <em>event id</em> to go to the dissemination page for this event. Click on a <em>sent</em> timestamp
to go to the log page.
</p>
<table border="1" class="events sortable">
<thead>
  <tr>
    <th title="Last dissemination time">Dissemination Time<br/><span class="sub">UTC</span></th>
    <th>Event ID</th>
    <th title="Event time">Origin Time<br/><span class="sub">UTC</span></th>
    <th title="Magnitude">M</th>
    <th>Latitude<br/><span class="sub">degrees</span></th>
    <th>Longitude<br/><span class="sub">degrees</span></th>
    <th>Depth<br/><span class="sub">km</span></th>
    <th title="Number of stations participating in the origin solution">Phases</th>
    <th>Agency</th>
    <th title="Evaluation status">S</th>
    <th title="Flinn-Engdahl region">Region Name</th>
  </tr>
</thead>
<tbody>{% for event in events %}
  <tr{% if event.type == "not existing" %} class="fake"{% endif %}>
    <td>{% if event.lastsent %}<a href="{% url 'gds-log-proc-id' event.lastsent.id %}">{{ event.lastsent.timestamp|date:"Y-m-d H:i:s" }}</a>{% endif %}</td>
    <td><a href="{{ event.event_id|urlencode }}">{{ event.event_id }}</a></td>
    <td title="{{ event.otime }}">{{ event.otime|slice:"0:21" }}</td>
    <td title="{{ event.mag }}">{{ event.mag|gds_float:1 }}</td>
    <td title="{{ event.lat }}">{{ event.lat|gds_float:3 }}</td>
    <td title="{{ event.lon }}">{{ event.lon|gds_float:3 }}</td>
    <td title="{{ event.dep }}">{{ event.dep|gds_float:0 }}</td>
    <td>{{ event.ph|gds_string }}</td>
    <td>{{ event.agency|gds_string }}</td>
    <td>{{ event.status }}</td>
    <td title="{{ event.region }}">{{ event.region|gds_string:20 }}</td>
  </tr>{% endfor %}
</tbody>
</table>
{% if paginator %}{% digg_paginator %}{% endif %}
{% endblock %}
