{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load digg_paginator breadcrumbs gds_extras %}
{% block title %}GDS Disseminate 2/3{% endblock %}
{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Disseminate' 'gds-publish' %}
{% breadcrumb_url eventid %}{% endblock %}
{% if lastsent %}{% block nav_ext %}
<a href="{% url 'gds-log-event-id' eventid %}">Event Log</a>
{% endblock %}{% endif %}
{% block headline %}Dissemination 2/3: Revision Selection{% endblock %}
{% block content %}
{% if paginator %}
{% with refinements|first as current %}
<p>{{ eventid }}{% if current.region %}, {{ current.region }}{% endif %}{% if lastsent %}</br>Last dissemination time: {{ lastsent|date:"Y-m-d H:i:s" }}{% endif %}</p>
{% endwith %}
<table border="1" class="refinements lineselect sortable">
<thead>
  <tr>
    <th>Rev</th>
    <th title="Time the event was received by the QuakeLink server">Processing Time<br/><span class="sub">UTC</span></th>
    <th title="Event time">Origin Time<br/><span class="sub">UTC</span></th>
    <th title="Magnitude">M</th>
    <th title="Magnitude type">T</th>
    <th>Latitude<br/><span class="sub">degrees</span></th>
    <th>Longitude<br/><span class="sub">degrees</span></th>
    <th>Depth<br/><span class="sub">km</span></th>
    <th title="Number of stations participating in the origin solution">Phases</th>
    <th>Agency</th>
    <th title="Evaluation status">S</th>
    <th title="Event type">Type</th>
    <th title="Download complete event document">XML</th>
  </tr>
</thead>
<tbody>{% for ref in refinements %}
  <tr{% if ref.type == "not existing" %} class="fake"{% endif %}>
    <td><a href="{{ ref.rev }}">{{ ref.rev }}</a></td>
    <td title="{{ ref.ptime }}"><a href="{{ ref.rev }}">{{ ref.ptime|slice:"0:21" }}</a></td>
    <td title="{{ ref.otime }}"><a href="{{ ref.rev }}">{{ ref.otime|slice:"0:21" }}</a></td>
    <td title="{{ ref.mag }}"><a href="{{ ref.rev }}">{{ ref.mag|gds_float:1 }}</a></td>
    <td title="{{ ref.mag_t }}"><a href="{{ ref.rev }}">{{ ref.mag_t|gds_string }}</a></td>
    <td title="{{ ref.lat }}"><a href="{{ ref.rev }}">{{ ref.lat|gds_float:3 }}</a></td>
    <td title="{{ ref.lon }}"><a href="{{ ref.rev }}">{{ ref.lon|gds_float:3 }}</a></td>
    <td title="{{ ref.dep }}"><a href="{{ ref.rev }}">{{ ref.dep|gds_float:0 }}</a></td>
    <td><a href="{{ ref.rev }}">{{ ref.ph }}</a></td>
    <td><a href="{{ ref.rev }}">{{ ref.agency|gds_string }}</a></td>
    <td><a href="{{ ref.rev }}">{{ ref.status }}</a></td>
    <td><a href="{{ ref.rev }}">{{ ref.type }}</a></td>
    <td><a href="{{ ref.rev }}?download=1" class="view_content"></a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% digg_paginator %}{% endif %}{% endblock %}
