{% extends "gds/base.html" %}
{% comment %}

Copyright (C) 2014 by gempa GmbH

All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of gempa GmbH and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to gempa GmbH
and its suppliers.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from gempa GmbH.

Author: Stephan Herrnkind
Email: herrnkind@gempa.de

{% endcomment %}
{% load static breadcrumbs %}
{% block title %}GDS Disseminate 3/3 [EDIT]{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}?v=2.1.7" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}?v=2.1.7'"></script>{% comment %} uncomment for video support
<script type="text/javascript" src="{% static 'js/fancybox/helpers/jquery.fancybox-media.js' %}?v=1.0.6"></script>{% endcomment %}
<script type="text/javascript">
  function toggleVisible(container, control) {
    if ( document.getElementById(container).style.display != "none" ) {
      document.getElementById(container).style.display = "none";
      document.getElementById(control).className = "toggle closed";
    }
    else {
      document.getElementById(container).style.display = "";
      document.getElementById(control).className = "toggle open";
    }
    return true;
  }

  function updateSubscriptionCount(queueName) {
    var nchk = 0;
    var nunchk = 0;
    var queueCount = document.getElementById("cnt" + queueName)
    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == queueName) ) {
        if ( inps[i].checked )
          nchk++;
        else
          nunchk++;
      }
    queueCount.innerHTML = nchk + "/" + (nchk + nunchk)
  }

  function toggleSelect(queueControl) {
    inps = document.getElementsByTagName("input");
    queueControl.className = "slim"
    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == queueControl.value) )
        inps[i].checked = queueControl.checked

    updateSubscriptionCount(queueControl.value);
  }

  function updateState(userControl) {
    inps = document.getElementsByTagName("input");
    var nchk = 0;
    var nunchk = 0;
    var queueControl = document.getElementById("ctl" + userControl.name)
    var queueCount = document.getElementById("cnt" + userControl.name)

    for ( var i = 0; i < inps.length; i++ )
      if ( (inps[i].type == 'checkbox') && (inps[i].name == userControl.name) ) {
        if ( inps[i].checked )
          nchk++;
        else
          nunchk++;
      }

    if ( nunchk != 0 && nchk != 0 ) {
      queueControl.className = "partial slim";
      queueControl.checked = true;
    }
    else {
      queueControl.className = "slim";
      queueControl.checked = nchk > 0;
    }

    queueCount.innerHTML = nchk + "/" + (nchk + nunchk)
  }

  function showPlain(ident) {
    document.getElementById(ident + "_plain").style.display = "";
    document.getElementById(ident + "_l_plain").className = "on";
    tinymce.get(ident + "_html").hide();
    document.getElementById(ident + "_html").style.display = "none";
    document.getElementById(ident + "_l_html").className = "";
  }

  function showHTML(ident) {
    document.getElementById(ident + "_plain").style.display = "none";
    document.getElementById(ident + "_l_plain").className = "";
    document.getElementById(ident + "_html").style.display = "";
    document.getElementById(ident + "_l_html").className = "on";
    tinymce.get(ident + "_html").show();
  }

  var editWins = new Array();
  var dictEdits = {};

  function toggleBulletin(ident) {
    syncDicts();
    var cont = document.getElementById(ident + "_ctr");
    var btn = document.getElementById(ident + "_tgl");
    if ( cont.style.display == "none" ) {
      cont.style.display = "";
      btn.className = "on";
      document.getElementById('queues_ctr').style.display = "none"
    }
    else {
      cont.style.display = "none";
      btn.className = "";
      document.getElementById('queues_ctr').style.display = ""
    }

    // Disable all other
    for (var i = 0; i < editWins.length; ++i) {
      if ( editWins[i] == ident ) continue;
      var cont = document.getElementById(editWins[i] + "_ctr");
      var btn = document.getElementById(editWins[i] + "_tgl");
      cont.style.display = "none";
      btn.className = "";
    }

    // Enable/disable sync checkbox
    if ( ident in dictEdits ) {
      document.getElementById('sync-dict-p').style.display = "";
    }
    else {
      document.getElementById('sync-dict-p').style.display = "none";
    }
  }

  function openPreview(ident) {
    var form = document.getElementById("diss");
    var oldAction = form.attributes["action"].value;
    form.setAttribute("action", "{% url 'gds-preview' %}");
    form.setAttribute("target", "_blank");

    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("name", "bulletin");
    hiddenField.setAttribute("value", ident);
    form.appendChild(hiddenField);

    form.submit();

    form.removeChild(hiddenField);
    form.setAttribute("action", oldAction);
    form.setAttribute("target", "");
  }

  function syncDicts() {
    // find current active edit window
    console.log('syncDicts()')
    for ( var i = 0; i < editWins.length; ++i ) {
      var ident = editWins[i];
      var cont = document.getElementById(ident + "_ctr");
      if ( cont.style.display !== "" ) continue;

      if ( ! (ident in dictEdits ) ) return;
      if ( document.getElementById('sync-dict-cb').checked === false ) {
        console.log('sync disabled: ' + ident);
        return;
      }

      // sync fields of current active edit to all other edits
      // sharing the same key
      var keys = dictEdits[ident];
      for ( var i = 0; i < keys.length; ++i ) {
        var key = keys[i];
        var value = $('[name="dict-' + ident + '-' + key + '"]').val();
        for ( var otherIdent in dictEdits ) {
          if ( ident === otherIdent ) continue;
          var otherKeys = dictEdits[otherIdent];
          for ( var j = 0; j < otherKeys.length; ++j ) {
            var otherKey = otherKeys[j];
            if ( key === otherKey ) {
              $('[name="dict-' + otherIdent + '-' + key + '"]').val(value);
              break;
            }
          }
        }
      }
    }
  }

  $(document).ready(function() {
    $('#diss').submit(function(ev) {
      syncDicts();
      //ev.preventDefault();
      //this.submit();
    });

    $(".fancybox").fancybox();

    tinymce.init({
      selector: 'textarea.mce',
      height: 304,
      menubar: true,
      theme: 'modern',
      plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
      ],
      toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      toolbar2: 'print preview media | forecolor backcolor | codesample',
      image_advtab: true,
      content_css: "{% static 'js/tinymce/skins/lightgray/content.min.css' %}",
    });
  });
</script>
{% endblock %}
{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>
{% breadcrumb_url 'Disseminate' 'gds-publish' %}
{% breadcrumb_url eventid 'gds-publish-event' eventid %}
{% breadcrumb_url refinement %}{% endblock %}
{% block nav_ext %}
<a href="{% url 'gds-log-event-id' eventid %}">Event Log</a>
{% endblock %}
{% block headline %}Dissemination 3/3: Subscription Selection (Edit Mode){% endblock %}
{% block content %}{% if queues %}
<p class="info-box">
<u>{{ eventid }} (r{{ refinement }})</u><br/>
Select a service from the menu on the right. Click on the icon in the service
header to preview the final formated content. Toggle the current active service
to return to the subscription selection.</p>
<form id="diss" action="{% url 'gds-publish-event-refinement' eventid refinement %}" method="post">{% csrf_token %}
<input type="hidden" name="gds_edit" value="1"/>
<div id="queues_ctr">
{% for q in queues %}{% if q.subscriptions %}
<div class="queue">
<span class="ctrl"><input class="slim{% if q.state %} {{ q.state }} {% endif %}" id="ctlQ_{{ q.id }}" type="checkbox" name="Q" value="Q_{{ q.id }}"{% if q.selected %} checked{% endif %} onchange="toggleSelect(this)"/>
  <span class="name">{{ q.name }}</span><div class="toggle closed" id="Q_{{ q.id }}_t" onclick="toggleVisible('Q_{{ q.id }}', this.id)"></div></span><span class="desc"><span id="cntQ_{{ q.id }}">{{ q.count }}</span><span class="right">{{ q.description }}</span></span>
</div>
<table border="1" class="sortable queues" id="Q_{{ q.id }}" style="display:none">
<thead>
<tr><th></th><th>Subscriber</th><th>Service</th><th>Filter</th><th>Target</th><th>Description</th><th>Priority</th><th>Match</th></tr>
</thead>
<tbody>{% for s in q.subscriptions %}
<tr>
<td><input class="slim" type="checkbox" name="Q_{{ q.id }}" value="S_{{ s.id }}_{{ s.match }}"{% if s.selected %} checked{% endif %} onchange="updateState(this)"/></td>
<td>{{ s.subscriber }}</td><td>{{ s.service }}</td><td>{% if s.filter %}{{ s.filter }}{% else %}-{% endif %}</td><td>{{ s.service_target }}</td><td>{{ s.description }}</td><td>{{ s.priority }}</td><td>{% if s.match %} Yes{% else %}No{% endif %}</td>
</tr>{% endfor %}
</tbody>
</table>
{% endif %}{% endfor %}
</div>
{% if bulletins %}{% for ident, bulletin in bulletins.items %}
<div id="{{ ident }}_ctr" style="display:none">
<script type="text/javascript">
editWins.push('{{ ident }}');
</script>{% if bulletin.3 %}
<input type="hidden" name="{{ ident }}_mime" value="{{ bulletin.3 }}"/>
{% endif %}
<div class="bulletin-header">{% comment %}
  bulletin.2 is the tuple (service, filter), so
  service = bulletin.2.0
  filter = bulletin.2.1
  {% endcomment %}
  <span>{{ bulletin.2.0 }}{% if bulletin.2.1 %} / {{ bulletin.2.1 }}{% endif %}</span>
  <a title="Open preview" class="preview" href="javascript:openPreview('{{ ident }}')"></a>
  <div class="pager">{% if bulletin.1.html %}
    <label id="{{ ident }}_l_html" for="{{ ident }}_html"{% if not bulletin.1.plain %} class="on"{% endif %} onclick="showHTML('{{ ident }}')">HTML</label>{% endif %}{% if bulletin.1.plain %}
    <label class="on" id="{{ ident }}_l_plain" for="{{ ident }}_plain" onclick="showPlain('{{ ident }}')">Text</label>{% endif %}
  </div>
</div>
<div class="bulletin" id="{{ ident }}">{% if bulletin.0 == 0 %}
<input type="hidden" name="{{ ident }}" value="0"/>{% if bulletin.1.subject %}
<div class="subject">
<table class="subject">
  <tr>
    <td><span>Subject:</span></td>
    <td width="100%"><input class="subject" type="text" name="{{ ident }}_subject" id="{{ ident }}_subject" value="{{ bulletin.1.subject }}"/></td>
  </tr>
</table>
</div>{% endif %}{% if bulletin.1.html %}
<textarea style="{% if bulletin.1.plain %}display:none;{% endif %}width:100%;height:30em" class="mce" name="{{ ident }}_html" id="{{ ident }}_html" rows="30">{{ bulletin.1.html }}</textarea>{% endif %}{% if bulletin.1.plain %}
<textarea name="{{ ident }}_plain" id="{{ ident }}_plain" rows="30">{{ bulletin.1.plain }}</textarea>{% endif %}
{% if bulletin.1.attachments or bulletin.1.extParameters %}
<div class="attachments">
  <table>{% for a in bulletin.1.attachments %}
    <tr>{% if forloop.first %}
      <td class="cell-header" rowspan="{{ bulletin.1.attachments|length }}">Attachments</td>{% endif %}
      <td>{% if a.content %}<a rel="group" class="fancybox" title="{{ a.name }}" href="data:{% if a.MIME %}{{ a.MIME }}{% endif %};base64,{{ a.content }}">{{ a.name }}</a>{% else %}{{ a.name }}{% endif %}</td>
      <td>{% if a.content %} base64:{{ a.content|length }} bytes{% elif a.path %} ext:{{ a.path }}{% endif %}</td>
    </tr>{% endfor %}{% for k,v in bulletin.1.extParameters.items %}
    <tr>{% if forloop.first %}
      <td class="cell-header" rowspan="{{ bulletin.1.extParameters|length }}">X-Header</td>{% endif %}
      <td><input type="text" name="{{ ident }}_extparam[{{ forloop.counter }}].key" value="{{ k }}" readonly="readonly"/></td>
      <td><input type="text" name="{{ ident }}_extparam[{{ forloop.counter }}].value" value="{{ v }}"/></td>
    </tr>{% endfor %}
  </table>{% for a in bulletin.1.attachments %}
  <input type="hidden" name="{{ ident }}_attachment[{{ forloop.counter }}].name" value="{{ a.name }}"/>{% if a.path %}
  <input type="hidden" name="{{ ident }}_attachment[{{ forloop.counter }}].path" value="{{ a.path }}"/>{% endif %}{% if a.content %}
  <input type="hidden" name="{{ ident }}_attachment[{{ forloop.counter }}].content" value="{{ a.content }}"/>{% endif %}{% if a.MIME %}
  <input type="hidden" name="{{ ident }}_attachment[{{ forloop.counter }}].MIME" value="{{ a.MIME }}"/>{% endif %}{% endfor %}
</div>{% endif %}
{% else %}{% if bulletin.0 == 1 %}
<input type="hidden" name="{{ ident }}" value="1"/>
<script type="text/javascript">dictEdits['{{ ident }}'] = new Array();</script>
<table class="dict" border="0">
<tr><th>Key</th><th>Value</th></tr>{% for key, value in bulletin.1.items %}<script type="text/javascript">dictEdits['{{ ident }}'].push('{{ key }}');</script>
<tr><td><label>{{ key }}</label></td><td width="100%"><input type="text" value="{{ value }}" name="dict-{{ ident }}-{{ key }}" style="width:99%"/></td></tr>{% endfor %}
</table>
{% else %}
<input type="hidden" name="{{ ident }}" value="2"/>
<textarea name="{{ ident }}_text" id="{{ ident }}_text" rows="20">
{{ bulletin.1 }}
</textarea>
{% endif %}{% endif %}
</div>
</div>{% endfor %}
<p id="sync-dict-p" style="display:none"><input type="checkbox" id="sync-dict-cb" checked >Synchronize changes with other bulletins sharing keywords</input></p>
{% endif %}
<input id="publish" type="submit" value="Publish"{% if not perms.gds.publish_events %} title="You don't have the permission to publish events" disabled{% endif %}>
</form>
<div id="diss_sidebar">
<ul>{% for ident, bulletin in bulletins.items %}
  <li id="{{ ident }}_tgl" onclick="toggleBulletin('{{ ident }}')">{{ ident }}</li>{% endfor %}
</ul>
</div>
<div id="closure">
<script>
(
 function() {
   inps = document.getElementsByTagName("input");
   for ( var i = 0; i < inps.length; i++ )
     if ( (inps[i].type == 'checkbox') && (inps[i].name == "Q") )
       updateSubscriptionCount(inps[i].value);
 }
)();
</script>
</div>
{% endif %}{% endblock %}
