html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

tt {
	font-size: 1.1em;
}

h1 {
	font-size: 1.5em;
	counter-reset: cnt-h2;
}

h2 {
	counter-increment: cnt-h2;
	counter-reset: cnt-h3;
}

h2:before {
	content: counter(cnt-h2) ".\0000a0\0000a0";
}

h3 {
	counter-increment: cnt-h3;
}

h3:before {
	content: counter(cnt-h2) "." counter(cnt-h3) ".\0000a0\0000a0";
}

a {
	color: #406080;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#page {
	position:relative;
	margin:0 auto;
	background: white;
	height:auto !important;
	height:100%;
	min-height:100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

div#header {
	background-color: #808080;
	border-top: 1px solid black;
}

div#header-content {
	margin: auto;
	width: 1000px;
	font-weight: bold;
	text-shadow: black 2px 1px 20px;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}

span#GIS {
	font-size: 3em;
}

div#content {
	margin: auto;
	width: 1000px;
	padding:1em 2em 3em;
	background-color: white;
}

div#footer {
	position:absolute;
	width: 100%;
	bottom:0;
	color: white;
	text-align: center;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #A0A0A0;
	border-bottom: 1px solid black;
	font-size: 12px;
}

table.doc {
	font-size: 0.75em;
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}

table.doc thead {
	background-color: #5cbfff;
	padding: 1em; color: white;
	font-weight: bold;
}

tr.category {
	background-color: #d5ebf9;
	padding: 1em;
	color: gray;
	font-weight: bold;
}

table.doc td {
	padding: 0.5em 1em 0.5em 1em;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	text-align: left;
	vertical-align: top;
}

