div#footer {
	clear: both;
}

div#footer a {
	color: white;
}

h1 {
	margin-top: 0;
	font-size: 1.2em;
	color: #666666;
}

table {
	font-size: 10pt;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 2px;
	border: 1px solid #cccccc;
	width: 100%;
	color: #444444;
}


table.events tr:nth-child(even),
table.refinements tr:nth-child(even) {
	background: #EEE;
}


table.events td:nth-child(n+4):nth-child(-n+8) {
	text-align: right;
}

table.refinements td:nth-child(1),
table.refinements td:nth-child(4),
table.refinements td:nth-child(n+6):nth-child(-n+9) {
	text-align: right;
}

table.eventlogid td:nth-child(3),
table.eventlogid td:nth-child(n+5):nth-child(-n+8) {
	text-align: right;
}

table.logproc td:nth-child(4),
table.logproc td:nth-child(n+6):nth-child(-n+9) {
	text-align: right;
}

table span.sub {
	font-size: 0.8em;
	font-weight: normal;
}

table td, table th {
	padding: 3px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #eeeeee;
}

table th {
	color: white;
	background-color: rgb(64,96,128);
	background-image: linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	border: 1px solid #6080a0;
}

table tr:first-child th {
	border-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
	border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
	border-right: 0;
}

table td.error {
	background: url("icons/error.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}

table td.warning {
	background: url("icons/warning.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}

table td.pending {
	background: url("icons/pending.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}

table td.success {
	background: url("icons/success.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
}

a.view_content {
	background-image: url('icons/preview.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	display: inline-block;
}

table tr.fake {
	background-color: #fff0f0;
}

p.help {
	margin-top: 0;
	margin-bottom: 1em;
}

table.lineselect tr:hover {
	background-color: #80A0C0;
	color: white;
}

table.lineselect a {
	display: block;
	color: inherit;
}

table.lineselect a:hover {
	text-decoration: none;
}

table.queues {
	margin-bottom: 2em;
}

table.queues td {
}

div.queue {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.queue input {
	margin-right: 1em;
}

input.slim {
	border: 1px solid gray;
}

div.queue input.partial {
	background-color: #808010;
	color: white;
}

div.queue span.ctrl {
	display: block;
	position: relative;
}

div.queue span.name {
	font-size: 1.5em;
	font-weight: bold;
	color: #406080;
}

div.queue span.desc {
	clear:both;
	display: block;
	font-style: italic;
	font-size: 0.9em;
	text-align: right;
	color: gray;
	margin-top: 6px;
	padding-top: 0.2em;
	border-top: 1px solid gray;
}

div.queue div.toggle {
	width: 20px;
	height: 20px;
	margin-bottom: 0.2em;
	border: 1px solid black;
	float: right;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
}

div.queue div.toggle:hover {
	cursor: pointer;
}

div.queue div.toggle.open {
	background: url("icons/collapse_arrow.png");
	background-repeat: no-repeat;
}

div.queue div.toggle.open:hover {
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
}

div.queue div.toggle.closed {
	background: url("icons/expand_arrow.png");
	background-repeat: no-repeat;
}

div.queue div.toggle.closed:hover {
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
}

p.perm {
	font-size: 1.2em;
	font-weight: bold;
	color: red;
	padding: 0;
	margin: 0;
}

/* Pagination classes */
ul.pagination {
	text-align: center;
	display: block;
	padding: 0;
	margin-top: 1em;
}

ul.pagination li {
	font-size: 0.75em;
	display: inline;
	margin: 0;
	padding: 0;
}

ul.pagination li span {
	margin-right: 6px;
}

ul.pagination li span.active {
	padding: 4px;
	border: 1px solid gray;
	background-color: white;
	font-weight: bold;
}

ul.pagination li a, ul.pagination li span {
	margin: 0;
	padding: 4px;
	border: 1px solid gray;
	margin-right: 6px;
}

ul.pagination li a:hover {
	text-decoration: none;
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
	color: black;
}

/* Cal classes */
div.cal {
	padding: 2px;
	border: 1px solid #eeeeee;
	margin-right: 0.5em;
}

ul.cal {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

ul.cal li {
	font-size: 0.75em;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
}

ul.cal li span.active {
	background-color: #80c0a0;
	border: 1px solid #60a080;
	font-weight: bold;
	color: white;
}

ul.cal li a, ul.cal li span {
	margin: 0;
	border: 1px solid transparent;
	padding-left: 2px;
	padding-right: 2px;
}

ul.cal li a:hover {
	text-decoration: none;
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
	color: black;
}


/* Messages */
ul.messages {
	padding: 0;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	display: block;
	margin: 0;
	background-color: lightyellow;
}

ul.messages li {
	font-size: 14px;
	display: block;
	width: 1000px;
	margin: auto;
}

ul.messages li.error {
	width: 975px;
	padding-left: 25px;
	background-image: url("icons/icon_error.png");
	background-repeat: no-repeat;
	color: red;
}

ul.messages li.warning {
	width: 975px;
	padding-left: 25px;
	background-image: url("icons/icon_warning.png");
	background-repeat: no-repeat;
	color: orange;
}

ul.messages li.info {
	width: 975px;
	padding-left: 25px;
	background-image: url("icons/icon_success.png");
	background-repeat: no-repeat;
	color: gray;
}

.info-box, .success-box, .pending-box, .warning-box, .error-box, .validation-box {
	border: 1px solid;
	margin: 0.75em 0;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	font-weight: bold;
	font-size: 0.75em;
}

.info-box {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("icons/info2.png");
}

.info-box a {
	color: #222222;
}

.success-box {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url("icons/success2.png");
}

.pending-box {
	color: #404040;
	background-color: #E0E0E0;
	background-image:url("icons/pending2.png");
}

.warning-box {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("icons/warning2.png");
}

.error-box {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("icons/error2.png");
}

div.box-details {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid;
	word-wrap: break-word;
}

tr.error {
	background-color: #FFBABA;
}

tr.warning {
	background-color: #FEEFB3;
}

tr.pending {
	background-color: #E0E0E0;
}


/* LOGIN box */
#login-box {
	margin: auto;
	margin-top: 4em;
	width: 300px;
	border: 0.5em solid #C0C0C0;
	border-radius: 0.5em;
	padding: 1.5em;
	color: #606060;
}

#login-box h2 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	background-color: #E8E8E8;
	text-shadow: white 2px 2px 2px;
	padding: 0.5em;
	/*text-shadow: white 2px 1px 0;*/
}

.login-box-name {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.login-box-field {
	border: 1px solid #C0C0C0;
	border-radius: 0.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 40px;
	padding-right: 1em;
	background-repeat: no-repeat;
	background-position: 4px 50%;
}

#login-box-field-username {
	background-image: url('icons/identity.png');
}

#login-box-field-password {
	background-image: url('icons/key.png');
}

.login-box-field input {
	background-color: transparent;
	width: 100%;
	border: 0;
	font-size: inherit;
}

#login-button {
	margin-top: 20px;
	padding: 1em;
	font-weight: bold;
	color: #606060;
}

div.main-menu {
	width: 100%;
	box-sizing: border-box;
}

a.main-menu {
	margin-top: 50px;
	height: 90px;
	display: block;
	color: #1c1c1c;
	box-shadow: #ccc 2px 1px 1px 1px;
	text-decoration: none;
	outline: none;
}

a.main-menu:hover {
	box-shadow: none;
	opacity: 0.8;
	color: #1c1c1c;
	background: #f6f6f6;
}

a.main-menu svg {
	float: left;
	margin-right: 0.5em;
	height: 90px;
	width: 90px;
}

a.main-menu div {
	padding: 0.2em 0em 0em 9em;
}

a.disabled {
	pointer-events: none;
	color: #808080;
}

a.disabled svg {
	filter: grayscale(100%);
}

/* Bulletin box */
div.bulletin-header {
	background-color: rgb(64,96,128);
	background-image: linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(64,96,128) 0%, rgb(192,224,255) 100%);
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	color: white;
	padding: 8px;
	font-weight: bold;
	font-size: 1.2em;
}

div.bulletin-header div.pager {
	margin-top: 4px;
	float: right;
}

div.bulletin-header label {
	border: 1px solid green;
	background-color: white;
	color: black;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #c0c0c0;
	padding: 4px;
	border-radius: 4px;
}

div.bulletin-header label:hover {
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
}

div.bulletin-header label:active {
	border: 1px solid #fdeeb3;
}

div.bulletin-header label.on {
	background-color: #80C0A0;
	border: 1px solid #60A080;
	color: white;
}

div.bulletin-header a.preview {
	width: 32px;
	height: 32px;
	background-image: url('icons/preview2.png');
	display: block;
	float: left;
}

div.bulletin {
	border: 1px solid #c0c0c0;
	margin-bottom: 1em;
	/*padding: 0.5em;*/
}

div.bulletin div.subject {
	padding-left: 8px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #c0c0c0;
}

div.bulletin textarea {
	border: 0;
	width: 99%;
	margin: 5px 0;
	padding: 3px;
}

div.bulletin table.subject {
	margin: 0;
	border: 0;
}

div.bulletin table.subject tr {
	border: 0;
}

div.bulletin table.subject td {
	padding: 0;
}

div.bulletin table.subject td span {
	margin-right: 0.5em;
	font-weight: bold;
}

div.bulletin input.subject {
	border: 1px solid #c0c0c0;
	width: 99%;
}

div.attachments {
	background-color: #ecf5ff;
}

table.dict td {
	font-size: 0.8em;
	vertical-align: bottom;
	font-weight: bold;
}

input#publish {
	margin-top: 1em;
}

form#diss {
	width: 810px;
	float: left;
}

div#diss_sidebar {
	width: 170px;
	text-align: center;
	float: right;
}

div#diss_sidebar ul {
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

div#diss_sidebar ul li {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.2em;
	margin-bottom: 0.5em;
}

div#diss_sidebar ul li.on {
	background-color: #80C0A0;
	border: 1px solid #60A080;
	color: white;
}

div#diss_sidebar ul li:hover {
	cursor: pointer;
	background-color: #fdeeb3;
	border: 1px solid #f1c43f;
}

div.linkbar {
	text-align: center;
}

div.linkbar ul {
	list-style: none;
	font-size: 0.8em;
	padding: 0 0 1em;
	margin: 0;
}

div.linkbar li {
	border-right: 1px solid #d7d7d7;
	display: inline;
	padding: 0 1em;
	white-space: nowrap;
}

div.linkbar li.last {
	border-right: none;
}

div#closure {
	clear: both;
}

table.dict {
	margin: 0;
	margin-bottom: 0.5em;
}

table.dict tr {
	border: 0;
}

table.dict td {
	font-size: 0.8em;
	vertical-align: bottom;
	font-weight: bold;
}

table.dict input {
	border-bottom: 1px solid #c0c0c0;
	background-color: #f0f0f0;
}

table.dict th {
	background-color: #A0C0E0;
	font-weight: normal;
}

ul#tree, ul#tree ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul#tree li {
	padding-left: 24px;
	cursor: pointer;
}

ul#tree li.collapsibleListOpen {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('icons/collapse_arrow.png');
}

ul#tree li.collapsibleListClosed{
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('icons/expand_arrow_right.png');
}

ul#tree span {
	padding-left: 24px;
	background-position: left center;
}

ul#tree span.error {
	background-image: url("icons/error.png");
	background-repeat: no-repeat;
}

ul#tree span.warning {
	background-image: url("icons/warning.png");
	background-repeat: no-repeat;
}

ul#tree span.pending {
	background-image: url("icons/pending.png");
	background-repeat: no-repeat;
}

ul#tree span.success {
	background-image: url("icons/success.png");
	background-repeat: no-repeat;
}

headline > h1 { display: inline-block; }
headline span { float: right; }

.cell-header {
	vertical-align: top;
	font-weight: bold;
}
