<div class="modal-header">
<h3>About CAPS</h3>
</div>
<div class="modal-body">
CAPS is a data acquisition and archiving server for multi sensor data<br/>
developed by <a href="http://www.gempa.de">gempa GmbH</a>.
</div>
<div class="modal-footer">
    <button ng-click="close(result)" class="btn btn-primary">Close</button>
</div>
