<!DOCTYPE html>
<html lang="en" ng-app="CAPS">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="css/app.css"></link>
  <link rel="icon" type="image/x-icon" href="/icons/favicon.ico"/>
  <script language="javascript" type="text/javascript" src="js/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.touch-punch.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.flot.time.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.flot.navigate.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.flot.resize.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.flot.selection.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/jquery.notice.js"></script>
  <!-- script language="javascript" type="text/javascript" src="js/bootstrap.min.js"></script -->
  <script language="javascript" type="text/javascript" src="js/angular-1.0.7.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/angular.bootstrap.min.js"></script>
  <script language="javascript" type="text/javascript" src="js/caps.min.js"></script>
  <title>CAPS</title>
</head>
<body style="padding-top:60px" ng-controller="Ctrl">
  <noscript>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <span class="brand">CAPS</span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="alert alert-error">
      Sorry, your browser does not support JavaScript! Enable JavaScript and
      <a href="index.html">reload</a> the page.
      </div>
    </div>
  </div>
  </noscript>
  <div id="app" style="display:none">
  <div ng-show="imgSrc" class="thumbnail preview">
    <button type="button" class="close" ng-click="closePreview()">&times;</button>
    <strong>{{imgTs | date:'yyyy-MM-dd HH:mm:ss'}}</strong>
    <img ng-src="{{imgSrc}}"/>
  </div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <span class="brand">CAPS <small> / {{caps.version}}</small></span>
        <ul class="nav pull-right">
          <li><a href="#" ng-click="openAboutDialog()">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <tabset>
          <tab heading="Overview" class="fade in">
            <table class="table table-bordered table-striped" style="font-size: 1em">
              <thead>
                <tr>
                  <th colspan >ID</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody><tr class="info"><td colspan="2"><strong>Traffic</strong></td></tr></tbody>
              <tbody>
                <tr>
                  <td>Current upload rate</td>
                  <td>{{caps.stats.series.rcvb[caps.stats.series.rcvb.length - 1][1]|size}}/s</td>
                </tr>
                <tr>
                  <td>Received bytes from plugins</td>
                  <td>{{caps.stats.current.rcvb | size}}</td>
                </tr>
                <tr>
                  <td>Received header bytes from plugins</td>
                  <td>{{caps.stats.current.rcvhb | size}}</td>
                </tr>
                <tr>
                  <td>Received packages</td>
                  <td>{{caps.stats.current.rcvpkg}}</td>
                </tr>
                <tr class="success">
                  <td>Saved packages</td>
                  <td>{{caps.stats.current.savpkg}}</td>
                </tr>
                <tr class="error">
                  <td>Failed packages</td>
                  <td>{{caps.stats.current.failpkg}}</td>
                </tr>
              </tbody>
              <tbody><tr class="info"><td colspan="2"><strong>Files</strong></td></tr></tbody>
              <tbody>
                <tr>
                  <td>Tracked</td>
                  <td>{{caps.stats.current.pool.ftracked}}</td>
                </tr>
                <tr class="success">
                  <td>Open</td>
                  <td>{{caps.stats.current.pool.fopen}}</td>
                </tr>
                <tr class="warning">
                  <td>Cached</td>
                  <td>{{caps.stats.current.pool.fcached}}</td>
                </tr>
                <tr>
                  <td>Cache performance</td>
                  <td>{{caps.stats.current.pool.perfcache | number:1}}%</td>
                </tr>
              </tbody>
            </table>
            <div style="text-align:right"><small class="muted">updated {{caps.stats.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</small></div>
          </tab>
          <tab heading="Streams" select="queryStreams(false)">
            <div class="clearfix">
              <button ng-click="queryStreams(true)" class="btn pull-left" href="#"><i class="icon-refresh"></i></button>
              <input class="pull-right" style="margin-left:6px" type="text" ng-model="streams.filter" ng-change="applyFilter()" placeholder="Filter"></input>
            </div>
            <table ng-show="streamsReady" ng-controller="TableCtrl" class="table table-hover table-bordered table-striped" style="font-size: 1em">
              <thead>
                <tr>
                  <th ng-click="set(0)">ID
                    <span class="glyphicon pull-right" ng-class="{'icon-chevron-down':reverse && col == 0, 'icon-chevron-up':!reverse && col == 0}"></span>
                  </th>
                  <th ng-click="set(1)">Start
                    <span class="glyphicon pull-right" ng-class="{'icon-chevron-down':reverse && col == 1, 'icon-chevron-up':!reverse && col == 1}"></span>
                  </th>
                  <th ng-click="set(2)">End
                    <span class="glyphicon pull-right" ng-class="{'icon-chevron-down':reverse && col == 2, 'icon-chevron-up':!reverse && col == 2}"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-click="openStream(stream[0])" ng-repeat="stream in streams.list" log-last finished="finishedStreams()">
                  <td>{{stream[0]}}</td>
                  <td>{{toUTC(stream[1]) | date:'yyyy-MM-dd HH:mm:ss'}} UTC</td>
                  <td>{{toUTC(stream[2]) | date:'yyyy-MM-dd HH:mm:ss'}} UTC</td>
                </tr>
              </tbody>
            </table>
            <div class="muted">
              <small class="pull-left">Channels: {{streams.list.length}} / {{caps.streams.list.length}}</small>
              <small class="pull-right">updated {{caps.streams.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</small>
            </div>
          </tab>
          <tab heading="Settings">
            <form class="form-horizontal">
              <div class="control-group">
                <strong>Waveforms</strong>
                <hr/>
                <p class="muted">
                The time span (in seconds) used to request waveforms when clicking
                on a stream row.
                </p>
                <label class="control-label" for="inputTimeSpan">Records time span</label>
                <div class="controls">
                  <div class="input-append">
                    <input ng-model="streams.timeSpan"
                           class="input-mini text-right" type="number" id="inputTimeSpan"
                           placeholder="1800" min="10">
                    <span class="add-on">s</span>
                  </div>
                </div>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
      <div class="span6">
        <div id="charts">
          <div class="well well-small"><div chart style="height:200px" data="charts.size" options="optsSize"></div></div>
          <div class="well well-small"><div chart style="height:200px" data="charts.pkg" options="optsPkg"></div></div>
          <div style="text-align:right"><small class="muted">updated {{caps.stats.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</small></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
