<div class="modal-header">
  <button ng-click="close(result)" type="button" class="close">&times;</button>
  <strong>{{streamID}}</strong>
</div>
<div class="modal-body">
  <!-- div plot style="height:300px" data="chart" options="chartOpts" plotreset="reset-samples" overlay></div -->
  <div style="height:300px" timeseries data="data" options="options" status="status" handler="handler" plotreset="reset-samples" />
</div>
<div class="modal-footer">
  <form class="form-inline pull-left">
    <label class="checkbox"><input type="checkbox" ng-model="data[0].options.optimize"/> Optimize</label>
    <label class="checkbox"><input type="checkbox" ng-model="options.grid.show"/> Show grid</label>
  </form>
  <button id="reset-samples" class="btn">Reset zoom</button>
  </form>
</div>
