<div ng-repeat="(name,stat) in status" class="gsc-app" title="{{name}} - {{config.modules[name].category}} &#xA;{{config.modules[name].description}}" name="{{name}}" ng-show="filterModuleStatus == config.modules[name].category || filterModuleStatus == 'All'">
  <span ng-if="stat.running == 1" class="label label-success runstate" title="Click to stop {{name}}" ng-click="stopModules([name])">Running</span>
  <span ng-if="stat.running == 0" class="{{stat.should == 1 && 'label-warning' || ''}} label runstate" title="Click to start {{name}}" ng-click="startModules([name])">Stopped</span>
  <span ng-if="stat.enabled == 1" class="label label-success enablestate" title="Click to remove {{name}} from autostart" ng-click="disableModules([name])">Autostart</span>
  <span ng-if="stat.enabled == 0" class="label enablestate" title="Click to add {{name}} to autostart" ng-click="enableModules([name])">No autostart</span>
  <div class="gsc-icon gsc-icon-app">
    <span ng-if="stat.cpu != undefined">{{stat.cpu.toFixed(1)}}%</span>
    <span ng-if="stat.rss != undefined">{{stat.rss.toFixed(0)}}kb</span>
  </div>
  <span>{{name}}</span>
</div>
