<div class="gsc-sec" ng-repeat="container in currentBinding.sections">
  <div class="gsc-sec-handle" ng-init="closed=container.name != currentBindingModuleName"
       ng-click="closed = !closed" ng-class="{closed:closed}"></div>
  <span ng-bind="container.name"></span>
  <div ng-include src="'templates/grid/container.html'"
       onload="currentModuleName=currentBindingModuleName;currentModuleProfile=currentBinding.name;currentModuleNetwork=currentBindingID.net;currentModuleStation=currentBindingID.sta"
       class="cnt" ng-hide="closed"></div>
</div>
<div class="gsc-cat" ng-repeat="cat in currentBinding.categories">
  <div class="gsc-sec-handle" ng-init="closed=true" ng-click="closed = !closed" ng-class="{closed:closed}"></div>
  <span>{{cat.name}} ({{cat.types.length}})</span>
  <div class="cnt" ng-hide="closed">
    <div class="gsc-sec" ng-repeat="inst in cat.instances">
      <div class="gsc-sec-handle" ng-init="closed=true" ng-click="closed = !closed" ng-class="{closed:closed}"></div>
      <span>{{inst.alias}}{{evalIf(inst.alias != inst.binding.name, ' : ' + inst.binding.name, '')}}</span>
      <button ng-click="deleteBinding(currentBindingModuleName, currentBinding.name, currentBindingID.net, currentBindingID.sta, cat, inst)" class="btn gsc-btn-del" type="button" title="Remove this {{cat.name}}."></button>
      <div ng-repeat="container in inst.binding.sections"
           ng-include src="'templates/grid/container.html'"
           onload="currentModuleName=currentBindingModuleName;currentModuleProfile=currentBinding.name;currentModuleNetwork=currentBindingID.net;currentModuleStation=currentBindingID.sta"
           class="cnt" ng-hide="closed"></div>
    </div>
    <div class="gsc-cat-sel" ng-if="cat.types.length>0">
      <table><tr>
        <td>
          <select ng-init="seltype = cat.types[0]"
                  ng-model="seltype" cat name="{{cat.name}}"
                  ng-options="type.name + ' / ' + type.description for type in cat.types">
          </select>
        </td>
        <td>
          <button ng-click="instantiateBinding(currentBindingModuleName, currentBinding.name, currentBindingID.net, currentBindingID.sta, cat, seltype)" class="btn gsc-btn-add" type="button" title="Add new {{cat.name}}"></button>
        </td>
      </tr></table>
    </div>
  </div>
</div>
