<!-- templates/grid/params.html expects var "container" -->
<div class="gsc-params" ng-include src="'templates/grid/params.html'"></div>

<div ng-repeat="container in container.structs.instances" class="gsc-struct">
  <div class="gsc-group-handle" ng-init="closed=false" ng-click="closed = !closed" ng-class="{closed:closed}"></div>
  <span ng-bind="container.name"></span>
  <button ng-if="container.fixed==false" ng-click="deleteStruct($parent.$parent.container, container)" class="btn gsc-btn-del" type="button" title="Remove this {{container.type}}."></button>
  <div ng-switch on="container.params || container.groups || container.structs" ng-include src="'templates/grid/container.html'" ng-hide="closed" class="cnt"></div>
</div>

<div ng-repeat="type in container.structs.types">
  <span>{{type}}</span>
  <button ng-click="instantiateStruct(currentModuleName, currentModuleProfile, currentModuleNetwork, currentModuleStation, $parent.container, type)" class="btn gsc-btn-add" type="button" title="Add new {{type}}"></button>
</div>

<div class="gsc-group" ng-repeat="container in container.groups">
  <div class="gsc-group-handle" ng-init="closed=false" ng-click="closed = !closed" ng-class="{closed:closed}"></div>
  <span>{{container.name}}</span>
  <div ng-switch on="hasDoc(container)">
    <div ng-switch-when="true" class="desc alert alert-info">{{container.description}}</div>
  </div>
  <div ng-switch on="container.params || container.groups || container.structs" ng-include src="'templates/grid/container.html'" ng-hide="closed"></div>
</div>
