<div class="gsc-sec" ng-repeat="container in currentModule.sections">
  <div class="gsc-sec-handle" ng-init="closed=container.name != currentModuleName"
       ng-click="closed = !closed" ng-class="{closed:closed}"></div>
  <span ng-bind="container.name"></span>
  <div ng-include src="'templates/grid/container.html'" class="cnt"
       ng-hide="closed"></div>
</div>
