<div class="gsc-param" ng-repeat="param in container.params"
     ng-class="{'locked':param.locked, 'full':$last && $index % 2==0}" ng-class-odd="'odd'" ng-class-even="'even'"
     ng-switch on="param.type">
  <div ng-switch-when="boolean" ng-if="!param.ambigious">
    <div class="sc-param-lock" ng-click="toggleParam(param)" title="If a parameter is locked, it is not activated in this configuration and more technically spoken not defined in the corresponding configuration file."></div>
    <div class="sc-param-cnt">
      <label ng-class="{'disabled':param.locked}" class="checkbox" ng-switch on="isOverridden(param)">{{param.name}}
        <input ng-switch-when="yes" title="This parameter is overridden in a later stage which supersedes the current stage. Whatever is entered here will not be active in the final configuration. The superseded value is used instead." type="checkbox" ng-model="param.value" ng-checked="param.value" ng-disabled="param.locked"></input>
        <input ng-switch-default type="checkbox" ng-model="param.value" ng-checked="param.value == 'true'" ng-disabled="param.locked" title="{{param.description}}"></input>
      </label>
    </div>
    <p ng-if="options.showDescriptions">{{param.description}}</p>
  </div>
  <div ng-switch-default ng-if="!param.ambigious" class="control-group" ng-class="{'error':param.overridden}">
    <div class="sc-param-lock" ng-click="toggleParam(param)" title="If a parameter is locked, it is not activated in this configuration and more technically spoken not defined in the corresponding configuration file."></div>
    <label ng-class="{'disabled':param.locked}">{{param.name}}</label>
    <div class="sc-param-cnt controls" ng-switch on="isOverridden(param)">
      <input ng-switch-when="yes" title="This parameter is overridden in a later stage which supersedes the current stage. Whatever is entered here will not be active in the final configuration. The superseded value is used instead." type="text" ng-model="param.value" value="{{param.value}}" ng-disabled="param.locked"></input>
      <input ng-switch-default type="text" ng-model="param.value" value="{{param.value}}" ng-disabled="param.locked" title="{{param.description}}"></input>
    </div>
    <p ng-if="options.showDescriptions">{{param.description}}</p>
  </div>
  <div ng-switch-default ng-if="param.ambigious">
    <label class="disabled">{{param.name}}</label>
    <div class="alert">This parameter is already defined in another section and disabled.</div>
  </div>
</div>
<div class="gsc-params-break"></div>
