{% extends 'event/base.html' %}
{% block body %}
{{ super() }}		<div class="container">
			<div class="section group">
				<div class="col span_12_of_12">
					<table class="arrivals">
						<thead>
							<tr>
								<td>Sta</td>
								<td>Net</td>
								<td>Arrival Time (UTC)</td>
								<td>Ph</td>
								<td>Res</td>
								<td>Distance</td>
								<td>Azimuth</td>
								<td>Status</td>
							</tr>
						</thead>
						<tbody>
{% if not origin.arrival is none %}
{%   for arr in origin.arrival|minWeight(settings.MIN_ARRIVAL_WEIGHT)|sort(attribute='distance') %}
{%     set pick = POOL[arr.pickID] %}
{%     if pick %}
							<tr>
								<td>{{ pick.waveformID.stationCode }}</td>
								<td>{{ pick.waveformID.networkCode }}</td>
								<td>{{ pick.time.value|qmldate }}</td>
								<td>{{ arr.phase }}</td>
{%       if arr.timeResidual is none %}
								<td>-</td>
{%       else %}
								<td>{{ "%.1f"|format(arr.timeResidual|float) }}</td>
{%       endif %}
{%       if arr.distance is none %}
								<td>-</td>
{%       else %}
								<td>{{ "%.1f"|format(arr.distance|float) }}&deg;</td>
{%       endif %}
{%       if arr.azimuth is none %}
								<td>-</td>
{%       else %}
								<td>{{ "%.1f"|format(arr.azimuth|float) }}&deg;</td>
{%       endif %}
{%       if pick.evaluationMode is none %}
								<td>-</td>
{%       else %}
								<td class="{{ pick.evaluationMode[0]|upper }}">{{ pick.evaluationMode[0]|upper }}</td>
{%       endif %}
							</tr>
{%     endif %}
{%   endfor %}
{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
{% endblock %}
