{% extends 'base.html' %}
{% block body %}
		<div class="container dark">
			<div class="section group">
				<div class="col col12">
					<h1>{{ event.publicID }}</h1>
				</div>
			</div>
		</div>
{% endblock %}
{% block nav %}
{% if ARRIVALS_AVAIL or PLOTS_QUALITY_AVAIL %}
								<a {% if PAGE == 'overview' %}class="active" {% endif %}href="overview.html">Overview</a>
{% endif %}
{% if ARRIVALS_AVAIL %}
								<a {% if PAGE == 'arrivals' %}class="active" {% endif %}href="arrivals.html">Arrivals</a>
{% endif %}
{% if PLOTS_QUALITY_AVAIL %}
								<a {% if PAGE == 'quality' %}class="active" {% endif %}href="quality.html">Quality</a>
{% endif %}
{% if BULLETIN_AVAIL %}
								<a {% if PAGE == 'bulletin' %}class="active" {% endif %}href="bulletinoverview.html">Bulletins</a>
{% endif %}
{% endblock %}
