{% extends 'event/base.html' %}
{% block body %}
{{ super() }}		<div class="container">
			<div class="section group">
				<div class="col span_12_of_12">
					<h2>Received Bulletins</h2>
					{% for type, bul in bulletins.iteritems() %}
					<h3>Bulletins: {{ type }}</h3>
					<ul>
						{% for b in bul.bulletins %}
						<li><a href="{{ b.href }}">{{ b.subject }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
