{% extends 'event/base.html' %}
{% block body %}
{{ super() }}		<div class="container">
			<div class="section group">
				<div class="col span_12_of_12">
					{{ html }}
				</div>
			</div>
		</div>
{% endblock %}
