{% extends 'event/base.html' %}
{% block body %}
{{ super() }}		<div class="container">
			<div class="section group">
				<div class="col span_7_of_12">
					<div class="map">
{% if GIS_HAS_MAP %}
						<img src="{{ ID }}-map.png" border="0" alt="Epicenter map">
{%   if SHAKEMAP_HAS_MAP %}
						<img src="{{ ID }}-shakemap.png" border="0" alt="MMI shake map">
{%   endif %}
{% else %}
{%   if SHAKEMAP_HAS_MAP %}
						<img src="{{ ID }}-shakemap.png" border="0" alt="MMI shake map">
{%   else %}
						<div class="empty"></div>
{%   endif %}
{% endif %}
{% if not event.description is none %}
{%   for desc in event.description %}
{%     if desc.type == "region name" %}
						<p>{{ event.description.text }}</p>
{%     endif %}
{%   endfor %}
{% endif %}
					</div>
				</div>
				<div class="col span_5_of_12">
					<table class="overview" border="0" cellpadding="0" cellspacing="0"  >
						<tr>
							<td>Origin time</td>
							<td>{{ origin.time.value|qmldate|date }}</td>
						</tr>
						<tr>
							<td>Location</td>
							<td>{{ origin.latitude.value|lat }}&nbsp;&nbsp;&nbsp;{{ origin.longitude.value|lon }}</td>
						</tr>
						<tr>
							<td>Depth</td>
{% if origin.depth is none %}
							<td>-</td>
{% else %}
							<td>{{ "%.0f"|format(origin.depth.value|float) }} km</td>
{% endif %}
						</tr>
						<tr>
							<td>Magnitude</td>
{% if magnitude is none %}
							<td>-</td>
{% else %}
							<td>{{ "%.1f"|format(magnitude.magnitude.value|float) }}</td>
{% endif %}
						</tr>
						<tr>
							<td>Phases</td>
{% if origin.quality is none or origin.quality.usedPhaseCount is none %}
							<td>-</td>
{% else %}
							<td>{{ origin.quality.associatedPhaseCount|int }}</td>
{% endif %}
						</tr>
						<tr>
							<td>Status</td>
{% if origin.evaluationMode is none %}
							<td>-</td>
{% else %}
							<td>{{ origin.evaluationMode[0]|upper }}</td>
{% endif %}
						</tr>
						<tr>
							<td>RMS</td>
{% if origin.quality is none or origin.quality.standardError is none %}
							<td>-</td>
{% else %}
							<td>{{ "%.1f"|format(origin.quality.standardError|float) }}</td>
{% endif %}
						</tr>
						<tr>
							<td>Azimuthal gap</td>
{% if origin.quality is none or origin.quality.azimuthalGap is none %}
							<td>-</td>
{% else %}
							<td>{{ "%.1f"|format(origin.quality.azimuthalGap|float) }}&deg;</td>
{% endif %}
						</tr>
						<tr>
							<td>AgencyID</td>
{% if event.creationInfo is none or event.creationInfo.agencyID is none %}
							<td>-</td>
{% else %}
							<td>{{ event.creationInfo.agencyID }}</td>
{% endif %}
						</tr>
{% if not event.comment is none %}
{%   for c in event.comment|sort(attribute='id') %}
						<tr>
							<td>{{ c.id }}</td>
							<td>{{ c.text }}</td>
						</tr>
{%   endfor %}
{% endif %}
					</table>
{% if focalMechanism is not none %}
					<pre style="font-family: monospace">
{{ focalMechanism|fmBulletin }}
					</pre>
{% endif %}
				</div>
			</div>
		</div>
{% endblock %}
