{% extends 'event/base.html' %}
{% block body %}
{{ super() }}		<div class="container">
			<div class="section group">
				<div class="col span_6_of_12">
					<img src="plot-tt.png"/>
				</div>
				<div class="col span_6_of_12" style="text-align: center">
					<img src="plot-pl.png"/>
				</div>
			</div>
			<div class="section group">
				<div class="col span_6_of_12">
					<img src="plot-dr.png"/>
				</div>
				<div class="col span_6_of_12">
					<img src="plot-ar.png"/>
				</div>
			</div>
			<div class="section group">
				<div style="text-align: center; margin-top: 20px">
					<img class="legend" src="{{ STATIC_URL }}img/legend-long.png" alt="legend of symbols displayed in plots">
				</div>
			</div>
		</div>
{% endblock %}
