<div id="leaflet" style="padding-top:25%;padding-bottom:25%">
	<script type="text/javascript">
		var map = L.map('leaflet').setView([{{ settings.INDEX_MAP_LAT_INIT }}, {{ settings.INDEX_MAP_LON_INIT }}], {{ settings.INDEX_MAP_ZOOM_INIT }});
		var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		var osmAttrib = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

		L.tileLayer(osmUrl, {
			attribution: osmAttrib,
			maxZoom: 18
		}).addTo(map);

		var minSize = 6;
		var depths = [
			[50, [255, 0, 0]],
			[100, [255, 128, 0]],
			[250, [255, 255, 0]],
			[600, [0, 127, 0]],
			[null, [0, 0, 255]]
		];

		function calcScale(magnitude) {
			var s = 4.9 * magnitude - 5.88;
			if ( s < minSize ) s = minSize;
			return s * 0.5;
		}

		function calcColor(depth) {
			var i, l = depths.length;
			for ( i = 0; i < l; ++i ) {
				var item = depths[i];
				if ( (item[0] === null) || (depth <= item[0]) )
					return 'rgb(' + item[1][0] + ',' + item[1][1] + ',' + item[1][2] + ')';
			}

			return "#000";
		}

		function eventClicked(e) {
			window.location.href='{{ ROOT_URL }}' + e.target._url;
		}

		microAjax("map-events.json", function (res) {
			var response = JSON.parse(res);
			var l = response.events.length;

			// Traverse the list reversed from old to new
			for ( var i = l-1; i >= 0; --i ) {
				var ev = response.events[i];
				var radius = ev.hasOwnProperty("mag") ? calcScale(ev.mag) : minSize*0.5;
				var color = calcColor(ev.depth);

				var style = {
					color: color,
					fillColor: color,
					weight: 2,
					opacity: 1.0,
					fillOpacity: 0.5,
					radius: radius,
					clickable: true
				};

				var symbol = new L.CircleMarker([ev.lat, ev.lon], style);
				symbol._url = ev.path;
				symbol.on('click', eventClicked);
				symbol.addTo(map);
			}
		});
	</script>
</div>
