{% extends 'base.html' %}
{% block body %}
		<div class="container">
			<div class="section group">
				<div class="col span_12_of_12">
				<h2>Search results</h2>
{% include 'table.html' %}
				</div>
			</div>
		</div>
{% endblock %}
{% block nav %}
{% if SEARCH_AVAIL %}
								<a class="search" title="Search" href="search.html"><img alt="Search" src="{{ STATIC_URL }}img/search.svg"/><div class="title"><span>Search</span></div></a>
{% endif %}
{% if BROWSER_AVAIL %}
								<a class="browser" title="Event browser" href="browser.html"><img alt="Browser" src="{{ STATIC_URL }}img/browser.svg"/><div class="title"><span>Browser</span></div></a>
{% endif %}
{# {% if RSS_AVAIL %}
								<a class="rss" title="RSS feed" href="feed.rss"><img alt="RSS" src="{{ STATIC_URL }}img/feed.svg"/><div class="title"><span>RSS</span></div></a>
{% endif %} #}
{% endblock %}
