{% extends 'base.html' %}
{% block head %}
{{ super() }}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tcal/tcal.css">{% if settings.SEARCH_WITH_MAP %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css" />
		<script src="{{ STATIC_URL }}js/leaflet.js"></script>
		<script type="text/javascript">
		var hasLocalStorage = false;
		try {
			hasLocalStorage = 'localStorage' in window && window['localStorage'] !== null;
		}
		catch (e) {}

		function openMap() {
			var elem = document.getElementById('map');
			if ( !elem ) return;
			elem.classList.remove("closed");
			map.invalidateSize();
		}
		function closeMap() {
			var elem = document.getElementById('map');
			if ( !elem ) return;
			elem.classList.add("closed");
		}
		function resetRegion() {
			document.getElementById('latmin').value = '';
			document.getElementById('latmax').value = '';
			document.getElementById('lonmin').value = '';
			document.getElementById('lonmax').value = '';

			if ( hasLocalStorage ) {
				localStorage.removeItem("search.region.south");
				localStorage.removeItem("search.region.north");
				localStorage.removeItem("search.region.east");
				localStorage.removeItem("search.region.west");
			}
		}
		</script>
		<style>
		.closed {
			display: none;
		}

		#map {
			position: absolute;
			border-radius: 3px;
			border: 1px solid #aaa;
			top: 1em;
			bottom: 1em;
			left: 1em;
			right: 1em;
			z-index: 1000;
		}

		#map > div {
			width: 100%;
			height: 100%;
			position: relative;
		}

		#map > div > div:nth-child(1) {
			position: absolute;
			top: 0;
			height: 3em;
			left: 0;
			right: 0;
			background-color: #444;
			color: white;
			line-height: 3em;
			padding-left: 1em;
			border-bottom: 1px solid #aaa;
			box-sizing: border-box;
		}

		#map > div > div:nth-child(1) > span {
			position: absolute;
			border-radius: 50%;
			right: 0.25em;
			top: 0.25em;
			height: 1em;
			width: 1em;
			cursor: pointer;
			background-color: #eee;
			color: black;
			text-align: center;
			line-height: 0.95em;
			font-size: 2em;
		}

		#map > div > div:nth-child(1) > span:hover {
			background-color: #f80;
		}

		#map > div > div:nth-child(2) {
			position: absolute;
			top:3em;bottom: 0;
			left: 0;
			right: 0;
			font: inherit;
		}
		</style>{% endif %}
		<script type="text/javascript" src="{{ STATIC_URL }}tcal/tcal.js"></script>
		<script type="text/javascript">
		A_TCALCONF['format'] = 'Y-m-d';
		</script>
{% endblock %}
{% block body %}
		<div class="container">
			<div class="section group">
				<div class="col span_12_of_12">
					<h2>Enter your search criteria</h2>
					<form method="get" action="search">
						<table class="search">
							<tbody>
								<tr>
									<td>Time Period (format YYYY-MM-DD)</td>
									<td align="right">from</td>
									<td><input type="text" size="10" align="left" maxlength="10" name="datemin" value="" class="tcal"/></td>
									<td align="right">to</td>
									<td><input type="text" size="10" align="left" maxlength="10" name="datemax" value="" class="tcal"/></td>
								</tr>
								<tr>
									<td>Magnitude range</td>
									<td align="right">from</td>
									<td><input type="text" size="4" class="text-right" maxlength="3" name="magmin" value=""/></td>
									<td align="right">to</td>
									<td><input type="text" size="4" class="text-right" maxlength="3" name="magmax" value=""/></td>
								</tr>
								<tr>
									<td colspan="5">
									<strong style="display:block;padding-top:1em">Rectangular region filter</strong>
									</td>
								</tr>
								<tr>
									<td>Latitude range</td>
									<td align="right">from</td>
									<td><input type="text" size="4" class="text-right" maxlength="6" id="latmin" name="latmin" value=""/>&thinsp;&deg; (southern limit)</td>
									<td align="right">to</td>
									<td><input type="text" size="4" class="text-right" maxlength="6" id="latmax" name="latmax" value=""/>&thinsp;&deg; (northern limit)</td>
								</tr>
								<tr>
									<td>Longitude range</td>
									<td align="right">from</td>
									<td><input type="text" size="4" class="text-right" maxlength="7" id="lonmin" name="lonmin" value=""/>&thinsp;&deg; (western limit)</td>
									<td align="right">to</td>
									<td><input type="text" size="4" class="text-right" maxlength="7" id="lonmax" name="lonmax" value=""/>&thinsp;&deg; (eastern limit)</td>
								</tr>
								<tr>
									<td colspan="5" align="center" style="padding-top:1em">{% if settings.SEARCH_WITH_MAP %}
										<span class="button" onclick="openMap()" href="">Select on map</span>{% endif %}
										<span class="button" onclick="resetRegion()" href="">Reset</span>
									</td>
								</tr>
								<tr>
									<td colspan="5">
									<strong style="display:block;padding-top:1em">Circular region filter</strong>
									</td>
								</tr>
								<tr>
									<td>Latitude</td>
									<td></td>
									<td><input type="text" size="4" class="text-right" maxlength="6" name="centerlat" value=""/>&thinsp;&deg;</td>
								</tr>
								<tr>
									<td>Longitude</td>
									<td></td>
									<td><input type="text" size="4" class="text-right" maxlength="6" name="centerlon" value=""/>&thinsp;&deg;</td>
								</tr>
								<tr>
									<td>Radius</td>
									<td></td>
									<td><input type="text" size="4" class="text-right" maxlength="6" name="radius" value=""/>&thinsp;{{ settings.SEARCH_DISTANCE_UNIT }}</td>
								</tr>
								<tr>
									<td colspan="5" align="center" style="padding-top:1em">
										<input type="submit" value="Submit" ></input>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>{% if settings.SEARCH_WITH_MAP %}
		<div id="map" class="closed">
			<div>
				<div>
				Select region with shift+left mouse key
					<span onclick="closeMap()">&times;</span>
				</div>
				<div id="map-layer">
					<script type="text/javascript">
					L.Map.BoxPrinter = L.Map.BoxZoom.extend({
						_onMouseUp: function(e) {
							if ( (e.which !== 1 ) && ( e.button !== 1) )
								return;

							this._finish();

							if ( !this._moved )
								return;

							var bounds = new L.LatLngBounds(
								map.layerPointToLatLng(this._startLayerPoint),
								map.layerPointToLatLng(this._map.mouseEventToLayerPoint(e))
							);

							this._map.fire('boxselectend', {boxSelectBounds: bounds});
						}
					});

					L.Map.mergeOptions({boxPrinter: true});
					L.Map.addInitHook('addHandler', 'boxPrinter', L.Map.BoxPrinter);
					L.Map.mergeOptions({boxZoom: false});

					var map = L.map('map-layer').setView([{{ settings.INDEX_MAP_LAT_INIT|default(0) }}, {{ settings.INDEX_MAP_LON_INIT|default(0) }}], {{ settings.INDEX_MAP_ZOOM_INIT|default(1) }});
					var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
					var osmAttrib = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

					L.tileLayer(osmUrl, {
						attribution: osmAttrib,
						maxZoom: 18
					}).addTo(map);

					map.on('boxselectend', function(e) {
						closeMap();
						if ( hasLocalStorage ) {
							localStorage['search.region.south'] = e.boxSelectBounds.getSouth();
							localStorage['search.region.north'] = e.boxSelectBounds.getNorth();
							localStorage['search.region.east'] = e.boxSelectBounds.getEast();
							localStorage['search.region.west'] = e.boxSelectBounds.getWest();
						}

						document.getElementById('latmin').value = e.boxSelectBounds.getSouth().toFixed(2);
						document.getElementById('latmax').value = e.boxSelectBounds.getNorth().toFixed(2);
						document.getElementById('lonmin').value = e.boxSelectBounds.getWest().toFixed(2);
						document.getElementById('lonmax').value = e.boxSelectBounds.getEast().toFixed(2);
					});
					</script>
				</div>
			</div>
		</div>{% endif %}

		<script type="text/javascript">
		if ( hasLocalStorage ) {
			var v;
			v = parseFloat(localStorage["search.region.south"]); if ( !isNaN(v) ) document.getElementById('latmin').value = v.toFixed(2);
			v = parseFloat(localStorage["search.region.north"]); if ( !isNaN(v) ) document.getElementById('latmax').value = v.toFixed(2);
			v = parseFloat(localStorage["search.region.west"]); if ( !isNaN(v) ) document.getElementById('lonmin').value = v.toFixed(2);
			v = parseFloat(localStorage["search.region.east"]); if ( !isNaN(v) ) document.getElementById('lonmax').value = v.toFixed(2);

			localStorage.removeItem("search.region.south");
			localStorage.removeItem("search.region.north");
			localStorage.removeItem("search.region.east");
			localStorage.removeItem("search.region.west");
		}
		</script>
{% endblock %}
{% block footer %}{% endblock %}
{% block nav %}
{% if BROWSER_AVAIL %}
								<a class="browser" title="Event browser" href="browser.html"><img alt="Browser" src="{{ STATIC_URL }}img/browser.svg"/><div class="title"><span>Browser</span></div></a>
{% endif %}
{# {% if RSS_AVAIL %}
								<a class="rss" title="RSS feed" href="feed.rss"><img alt="RSS" src="{{ STATIC_URL }}img/feed.svg"/><div class="title"><span>RSS</span></div></a>
{% endif %} #}
{% endblock %}
