					<table class="events">
						<thead>
							<tr>
								<td>ID</td>
								<td>Origin Time</td>
								<td>M</td>
								<td>Type</td>
								<td>Lat</td>
								<td>Long</td>
								<td>Depth</td>
								<td>Region</td>
								<td>Mode</td>
								<td>Update</td>
							</tr>
						</thead>
						<tbody>
{% for evt in eventTable %}
							<tr{% if not evt.mag is none and evt.mag >= 6.5 %} class="big"{% endif %} onclick="window.location.href='{{ ROOT_URL }}{{ evt.path }}'">
								<td>{{ evt.eventID }}</td>
								<td>{{ evt.otime|date }}</td>
{%   if evt.mag is none %}
								<td>-</td>
{%   else %}
								<td>{{ "%.1f"|format(evt.mag|float) }}</td>
{%   endif %}
{%   if evt.mag_t is none %}
								<td>-</td>
{%   else %}
								<td>{{ evt.mag_t }}</td>
{%   endif %}
								<td>{{ evt.lat|lat }}</td>
								<td>{{ evt.lon|lon }}</td>
{%   if evt.depth is none %}
								<td>-</td>
{%   else %}
								<td>{{ evt.depth|int }}</td>
{%   endif %}
{%   if evt.region is none %}
								<td>-</td>
{%   else %}
								<td>{{ evt.region }}</td>
{%   endif %}
{%   if evt.status is none %}
								<td>-</td>
{%   else %}
								<td class="{{ evt.status[0]|upper }}">{{ evt.status[0]|upper }}</td>
{%   endif %}
								<td>{{ evt.upd|date }}</td>
							</tr>
{% endfor %}
						</tbody>
					</table>
