html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
	font-size: 12pt;
	margin: auto;
	background-color: white;
}


/* LOGIN box */
#login-box {
	margin: auto;
	margin-top: 4em;
	width: 300px;
	border: 0.5em solid #C0C0C0;
	border-radius: 0.5em;
	padding: 1.5em;
	color: #606060;
}

#login-box h2 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	background-color: #E8E8E8;
	text-shadow: white 2px 2px 2px;
	padding: 0.5em;
	/*text-shadow: white 2px 1px 0;*/
}

.login-box-name {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.login-box-field {
	border: 1px solid #C0C0C0;
	border-radius: 0.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 40px;
	padding-right: 1em;
	background-repeat: no-repeat;
	background-position: 4px 50%;
}

#login-box-field-username {
	background-image: url('../icons/identity.png');
}

#login-box-field-password {
	background-image: url('../icons/key.png');
}

.login-box-field input {
	background-color: transparent;
	width: 100%;
	border: 0;
	font-size: inherit;
}

#login-button {
	margin-top: 20px;
	padding: 1em;
	font-weight: bold;
	color: #606060;
}
