[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height:100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 10pt;
	font-family: sans-serif;
}

#app {
	display: none;
	width: 100%;
	height: 100%;
}

#gsc-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: block;
	background-color: white;
}


.gsc-icon {
	background-position: center 6px;
	background-repeat: no-repeat;
}

.gsc-app {
	float: left;
	width: 8em;
	border: 1px solid #999999;
	border-radius: 4px;
	background-color: #eeeeee;
	overflow: hidden;
	padding: 1px;
	margin: 6px;
	text-align: center;
}

.alias {
	font-style: italic;
}

.removed {
	text-decoration: underline;
}



.ui-selecting {
	border-color: #feca40;
	background-color: #feedbf;
}

.ui-selected {
	background-color: #feca40;
}

.gsc-app .runstate,
.gsc-app .enablestate {
	cursor: pointer;
}

.gsc-app .runstate:hover,
.gsc-app .enablestate:hover {
	background-color: #417690;
}

/*
.mod-running {
	border: 1px solid #559955;
	background-color: #88cc88;
}
*/

.gsc-app .gsc-icon {
	height: 64px;
	background-position: center center;
}

.gsc-app .runstate {
	margin-bottom: 2px;
}

.gsc-app span {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
}

.gsc-icon-app {
	background-image: url("../icons/gear.png");
	color: #080;
	text-align: center;
	font-weight: bold;
}

.gsc-icon-inventory {
	background-image: url("../icons/nav/inventory.png");
}

.gsc-icon-information {
	background-image: url("../icons/nav/info.png");
}

.gsc-icon-system {
	background-image: url("../icons/nav/system.png");
}

.gsc-icon-bindings {
	background-image: url("../icons/nav/bindings.png");
}

.gsc-icon-modules {
	background-image: url("../icons/nav/modules.png");
}

.ui-layout-resizer {
    background-color: black;
}

.hidden {
	display: none;
}

#gsc-dlg-preview {
	background-color: #ffffe0;
}

#gsc-dlg-preview .comment {
	font-family: monospace;
	font-style: italic;
	white-space: nowrap;
	color: gray;
}

#gsc-dlg-preview .cfg {
	font-family: monospace;
	white-space: nowrap;
}


ul#tabs {
	padding: 0;
	margin: 0;
	border-radius: 0;
	list-style-type:none;
}

ul#tabs li {
	color: white;
	border: 0;
	height: 64px;
	width: 100px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

ul#tabs li a {
	color: inherit;
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

ul#tabs li a span {
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 4px;
	left: 0;
	font-weight: bold;
}

ul#tabs li.ui-state-default {
	color: white;
}

ul#tabs li.ui-state-active, ul#tabs li.ui-state-focus {
	color: black;
	background-color: #7b7b7b;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #cbcbcb; /* Old browsers */
	background: -moz-linear-gradient(left, #777777 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#777777), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #777777 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #777777 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #777777 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to right, #777777 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
}

ul#tabs li.ui-state-hover {
	color: white;
	background-color: #8b8b8b;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background: -moz-linear-gradient(left, #444444 0%, #777777 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#444444), color-stop(100%,#777777)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #444444 0%,#777777 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #444444 0%,#777777 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #444444 0%,#777777 100%); /* IE10+ */
	background: linear-gradient(to right, #444444 0%,#777777 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#777777',GradientType=1 ); /* IE6-9 */
}


div#page {
	margin:0 auto; /* center, not in IE5 */
	background: white;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

.table {
	width: 100%;
}


div#gsc-navbar {
	overflow: visible;
}


div#gsc-content {
	padding: 0;
	border: 0;
}

#gsc-tab-buttons {
	background: #4b4b4b; /* Old browsers */
	background: -moz-linear-gradient(left, #222222 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#222222), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #222222 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #222222 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #222222 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(to right, #222222 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=1 ); /* IE6-9 */
	border-color: #252525;
	border-right: 1px solid #cccccc;
}

.headline {
	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top,  #777777 0%, #555555 30%, #444444 31%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(30%,#555555), color-stop(31%,#444444), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #777777 0%,#555555 30%,#444444 31%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #777777 0%,#555555 30%,#444444 31%,#111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #777777 0%,#555555 30%,#444444 31%,#111111 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #777777 0%,#555555 30%,#444444 31%,#111111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid black;
	color: white;
}

#system-log-title {
	margin-left:1em;
	border: 1px solid gray;
	padding: 0.5em;
}

#system-log-dlg {
	padding: 0;
	background-color: black;
}

#system-log-dlg pre {
	padding: 2px;
	background-color: black;
	color: white;
	font-family: monospace;
}

#system-wait {
	float: right;
	height: 32px;
	width: 32px;
}

#gsc-headline {
	border-left: 1px solid black;
	padding: 0.5em;
}

#gsc-headline h3 {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999999;
	margin-bottom: 0.5em;
}

#gsc-tab-content {
	border-left: 1px solid black;
	padding: 0;
}

.overflow {
	overflow: auto;
}

.tool-divider {
	margin-left: 6px;
	margin-right: 6px;
}


#gsc-main-panel {
	height: 100%;
}

#gsc-tab-content>div {
	padding: 0;
	height: 100%;
}

.navbar-toolbar {
	padding-top: 6px;
	padding-left: 6px;
	border-radius: 0;
}

#system-icons, #system-main {
	height: 100%;
}

#gsc-tab-content>div.widget {
	padding: 6px;
}

#panel-modules-content,
#panel-bindings-content {
	padding: 0;
}

#panel-modules-content-title,
#panel-bindings-content-title {
	font-weight: bold;
	font-size: 1.5em;
	border-bottom: 1px solid gray;
	text-align: right;
	min-height: 1em;
	padding: 6px;
}

#panel-inventory-left,
#panel-inventory-right {
	min-width: 50%;
}

#inventory-files {
	border-left: 1px solid #eee;
}

#upload-files {
	border-right: 1px solid #eee;
}

#panel-modules-content-content,
#panel-bindings-content-content {
	padding: 6px;
}

#panel-modules-list {
	width: 10em;
}

#panel-modules-list>.tree>li>a {
	font-weight: bold;
}

label.disabled {
	color: #a9a7a7;
}

input[type=text] {
	width: 100%;
	height: 2.4em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


li.gsc-cat>span {
	background-image: url("../icons/folder-opened.png");
	background-position: 0 center;
	background-repeat: no-repeat;
	font-weight: bold;
	padding-left: 20px;
	min-height: 16px;
}

li.gsc-mod {
	cursor: pointer;
	display: block;
	text-decoration: none;
	background-image: url("../icons/document.png");
	background-position: 0 center;
	background-repeat: no-repeat;
	padding-left: 20px;
	min-height: 16px;
}

li.gsc-mod:hover {
	background-color: #417690;
	color: white;
}


.gsc-btn-add, .gsc-btn-add:hover {
	width: 20px;
	height: 20px;
	background-image: url("../icons/btn-add.png");
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
}

.gsc-btn-del, .gsc-btn-del:hover {
	width: 20px;
	height: 20px;
	background-image: url("../icons/btn-del.png");
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
}


/* Configuration panel styles */
div.gsc-cat, div.gsc-sec, div.gsc-group, div.gsc-struct {
	padding: 0;
	padding-bottom: 0.5em;
	clear: both;
}

div.gsc-params-break {
	clear: both;
}

div.gsc-cat>span {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	background-color: rgb(38,80,128);
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

.gsc-cat-sel table td {
	width: 100%;
	border: 0;
}

.gsc-cat-sel select {
	width: 100%;
}

.gsc-cat-sel button {
	margin-left: 1em;
}

div.gsc-cat .cnt {
	margin-top: 0.5em;
}

div.gsc-cat .cnt .cnt {
	background-color: #e9edf2;
}

div.gsc-sec>span {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(38,80,128);
}

div.gsc-group>span {
	font-weight: bold;
	color: rgb(38,80,128);
}

div.gsc-struct>span {
	font-style: italic;
	font-weight: bold;
	color: rgb(38,80,128);
}


div.gsc-cat div.desc, div.gsc-sec div.desc, div.gsc-group div.desc {
	margin-left: 8px;
	margin-top: 0.5em;
	padding: 6px;
	color: rgb(38,80,128);
}

div.gsc-cat div.cnt, div.gsc-sec div.cnt, div.gsc-group div.cnt, div.gsc-struct div.cnt {
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 6px;
	margin-bottom: 8px;
	border-left: 1px solid #e0e0e0;
}

div.gsc-sec-handle, div.gsc-group-handle {
	width: 12px;
	height: 16px;
	float: left;
	margin-right: 3px;
	background-image: url("../icons/opened.png");
	background-repeat: no-repeat;
	background-position: 0 bottom;
}


div.gsc-cat .closed, div.gsc-sec .closed , div.gsc-group .closed, div.gsc-struct .closed {
	background-image: url("../icons/closed.png");
}

div.gsc-params {
	padding-top: 1em;
	padding-left: 6px;

}

div.gsc-param {
	width: 49%;
}

div.odd {
	clear: both;
	float: left;
}

div.even {
	float: right;
}

div.full {
	width: 100%;
}


div.sc-param-lock {
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 8px;
	background-image: url("../icons/unlock.png");
	background-repeat: no-repeat;
}

.error label.disabled {
	color: #b98282;
}

.locked div.sc-param-lock {
	background-image: url("../icons/lock.png");
}

div.gsc-param label {
	font-weight: bold;
}

div.gsc-param p {
	margin: 0;
	padding: 0;
	padding-bottom: 0.5em;
	color: #545353;
}

div.gsc-param.locked p {
	color: #a9a7a7;
}

div.plain-param p {
	color: red;
	font-style: italic;
}

div.plain-param-lock {
	width: 20px;
	height: 22px;
	background-image: url("../icons/unlock.png");
	background-repeat: no-repeat;
}

.locked div.plain-param-lock {
	background-image: url("../icons/lock.png");
}

col.plain-col1 {
	width: 20px;
}

col.plain-col2 {
	width: 1%;
}

col.plain-col3 {
	width: 1%;
}

col.plain-col4 {
	width: 99%;
}

.plain input[type=text] {
	border: none;
	border-color: transparent;
	height: 2em;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0;
	border-radius: 0;
}

td.plain-desc {
	color: #999;
	font-style: italic;
}

table.plain td.id, table.plain td.eq {
	color: #000000;
}

tr.row_selected td {
	color: white;
	background-color: #0088CC;
}

tr.row_selected td.sorting_1 {
	color: white;
	background-color: #0066AA;
}


/* NOTICE styles */
.notice-wrap {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 400px;
	z-index: 10000;
}


* html .notice-wrap {
	position: absolute;
}

.notice-item {
	background: #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #eee;
	padding: 10px 10px 0 10px;
	border: 1px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.notice-title {
	font-size: 1.2em;
	display: block;
	margin-bottom: 0.5em;
}

.notice-error {
	border-color: #df8f90;
	background-color: #ffd2d3;
	background-image: url("../icons/error.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-error .notice-title {
	color: #871414;
}

.notice-warning {
	border-color: #e5db55;
	background-color: #fefccb;
	background-image: url("../icons/warning.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-warning .notice-title {
	color: #8f8b20;
}

.notice-info {
	border-color: #9fc7f5;
	background-color: #dbecff;
	background-image: url("../icons/info.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-info .notice-title {
	color: #2850c1;
}

.notice-success {
	border-color: #9adf8f;
	background-color: #d4ffcd;
	background-image: url("../icons/success.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 44px;
	color: #404040;
}

.notice-success .notice-title {
	color: #258815;
}

/* TREE styles */
ul.tree {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.tree li {
	white-space: nowrap;
}

ul.tree li a {
	display: inline-block;
	padding-right: 4px;
	border-radius: 3px;
	background-position: 2px center;
	background-repeat: no-repeat;
	background-image: url("../icons/document.png");
	padding-left: 21px;
	line-height: 20px;
}

ul.tree li ins {
	background-image: url("../images/tree.png");
	background-position: -42px 0px;
	background-repeat: no-repeat;
	text-decoration: none;
	display: inline-block;
	width: 21px;
	height: 20px;
	margin: 0;
	padding: 0;
}

ul.tree li a:hover {
	text-decoration: none;
	background-color: #eeeeee;
	color: #0088cc;
}

ul.tree li a.active {
	background-color: #0088cc;
	color: white;
}

ul.tree li a.jqui-dnd-target-over {
	background-color: #00cc88;
	color: white;
}

ul.tree li ul {
	padding-left: 21px;
	background-image: url("../images/grey1x1.png");
	background-position: 10px 0px;
	background-repeat: repeat-y;
}

ul.tree>li.closed>ul {
	display: none;
}

ul.tree li.tree-node>a {
	background-image: url("../icons/folder-closed.png");
}

ul.tree li>ins.tree-node-last {
	background-position: -42px -21px;
}

ins.tree-node-last+a+ul,
ins.tree-node-childs-last+a+ul {
	background-image: none;
}

ul.tree li>ins.tree-node-childs {
	background-position: -21px 0px;
}

ul.tree li>ins.tree-node-childs-last {
	background-position: -21px -21px;
}

ul.tree li.closed>ins.tree-node-childs {
	background-position: 0px 0px;
}

ul.tree li.closed>ins.tree-node-childs-last {
	background-position: 0px -21px;
}

/* Iconview styles */
.iconview {
	padding: 4px;
}

.iconview-item {
	float: left;
	background: none;
	margin-right: 6px;
	margin-bottom: 6px;
	text-align: center;
	cursor: pointer;
	min-width: 64px;
}

.iconview-item>div {
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	width: 48px;
	height: 48px;
}

.iconview-item-folder>div {
	background-image: url("../icons/document_folder.png");
}

.iconview-item-folder-empty>div {
	background-image: url("../icons/document_folder_empty.png");
}

.iconview-item-document>div {
	background-image: url("../icons/document_self.png");
}

.iconview-item-link>div {
	background-image: url("../icons/document_link.png");
}

.iconview-item:hover>span {
	background-color: #eeeeee;
	color: #0088cc;
}

.iconview .active>span {
	background-color: #0088cc;
	color: white;
}

.iconview-item>span {
	border-radius: 3px;
	padding-left: 4px;
	padding-right: 4px;
}

.iconview-last {
	clear: both;
}

.toolbar {
	height: 30px;
	min-height: 30px;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 0;
}

.toolbar .btn {
	padding: 0;
	height: 24px;
	width: 24px;
}


.btn-group .jqui-dnd-target-over {
	border: 1px solid #00cc88;
}

.jqui-dnd-target-over {
	background-color: #00cc88;
}

.jqui-dnd-target-over:hover>span {
	background-color: #00cc88;
	color: white;
}

.ui-layout-resizer {
	background-color: #bbb;
	border: 1px solid #999;
}

.ui-layout-resizer:hover {
	background-color: #eee;
	border: 1px solid #ddd;
}
