{% extends "gds/frontend/base.html" %}
{% load breadcrumbs %}{% block breadcrumbs %}<a href="{% url 'gds-index' %}">Home</a>{% endblock %}
{% block content %}
<h1>500</h1>
Server error
{% endblock %}

