html, body {
	margin: 0;
	padding: 0;
	height:100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	/*font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
	font-size: 12pt;*/
	margin: auto;
	background-color: white;
}

a {
	color: #406080;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#page {
	margin:0 auto; /* center, not in IE5 */
	background: white;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	/*width: 1000px;*/
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

div#header {
	background-color: #3e69ac;
	border-top: 1px solid black;
}

div#header-content {
	margin: auto;
	width: 1000px;
	font-weight: bold;
	text-shadow: black 2px 1px 20px;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #eeeeee;
	position: relative;
}

div#header-content a {
	color: #eeeeee;
}

span#GDS {
	font-size: 3em;
}

span#GDSver {
	padding-left: 0.5em;
}

span#user {
	color: #ffffcc;
	font-size: 0.75em;
	font-weight: normal;
	text-shadow: transparent 0px 0px 0px;
	text-align: right;
	position: absolute;
	bottom: 0.5em;
	right: 0;
}

span#user a {
	color: white;
}


div#breadcrumbs {
	margin: auto;
	width: 1000px;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 0.75em;
}

.right {
    float: right;
}

div#gds-content {
	margin: auto;
	width: 1000px;
	margin-bottom: 1em;
	border: 1px solid transparent;
}
