<!DOCTYPE html>
<html ng-app="gsc">
<head>
	<meta charset="utf-8"/>
	<title>SeisComP3 system administration</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap/jquery-ui-1.9.0.custom.css"></link>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.min.css"></link>
	<link rel="stylesheet" type="text/css" href="static/css/seiscomp.css"></link>
	<script type="text/javascript" src="static/js/extern/jquery-1.8.2.min.js"/></script>
	<script type="text/javascript" src="static/js/extern/jquery-ui-1.9.0.custom.min.js"/></script>
	<script type="text/javascript" src="static/js/extern/jquery-layout-1.3.0.js"/></script>
	<script type="text/javascript" src="static/js/extern/jquery-layout-resizeTabLayout.min-1.2.js"/></script>
	<script type="text/javascript" src="static/js/extern/jquery-notice.js"/></script>
	<script type="text/javascript" src="static/js/extern/jquery-hotkeys.js"/></script>
	<script type="text/javascript" src="static/js/extern/angular.min.js"/></script>
	<script type="text/javascript" src="static/js/extern/bootstrap.min.js"/></script>
	<script type="text/javascript" src="static/js/webconfig.min.js"/></script>
</head>
<body ng-controller="SCConfigController">

<!-- About dialog -->
<div class="modal hide" id="gsc-dlg-about" class="hidden">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>SeisComP webconfig</h3>
	</div>
	<div class="modal-body">
		<p>
		Copyright &copy; <a href="http://www.gempa.de">gempa GmbH</a>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>


<!-- Shortcuts -->
<div class="modal hide" id="gsc-dlg-shortcuts" class="hidden">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Shortcuts</h3>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt><span class="badge">D</span></dt><dd>Toggle showing parameter descriptions</dd>
			<dt><span class="badge">P</span></dt><dd>Open configuration preview</dd>
			<dt><span class="badge">R</span></dt><dd>Reload configuration</dd>
			<dt><span class="badge">S</span></dt><dd>Save configuration</dd>
		</dl>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>


<!-- Reload yes/no -->
<div class="modal hide" id="gsc-dlg-reload" class="hidden">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Reload configuration</h3>
  </div>
  <div class="modal-body">
    <p>
    Do you really want to reload the configuration? All changes will be lost
    unless saved before.
    </p>
  </div>
  <div class="modal-footer">
    <button ng-click="configReloadConfirmed()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Yes</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
  </div>
</div>

<div class="modal hide" id="gsc-dlg-delete" class="hidden">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete files</h3>
  </div>
  <div class="modal-body">
    <p>
    Do you really want to delete the selected files?
    </p>
  </div>
  <div class="modal-footer">
    <button ng-click="deleteConfirmed()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Yes</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
  </div>
</div>

<!-- Operation progress dialog -->
<div class="modal hide" id="gsc-dlg-progress" class="hidden">
  <div class="modal-header">
    <h3>Operation in progress</h3>
  </div>
  <div class="modal-body">
    <div class="progress-title"></div>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 40%;"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn disabled" disabled data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Preview dialog -->
<div id="gsc-dlg-preview" title="Preview"></div>

<!-- Upload and import dialog -->
<div class="modal hide" id="gsc-dlg-inventory-upload" class="hidden">
  <div class="modal-header">
    <h3>Upload inventory</h3>
  </div>
  <div class="modal-body">
    <form>
      <label for="fileType">Select file type</label>
      <select style="width:100%" id="fileType">
        <option ng-repeat="format in config.inventory.formats">{{format}}</option>
      </select>
      <label for="fileChooser">Select file to upload</label>
      <input style="width:100%" type="file" id="fileChooser"/>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="uploadInventoryFile()">Upload</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<!-- Import dialog -->
<div class="modal hide" id="gsc-dlg-import" class="hidden">
  <div class="modal-header">
    <h3>Import files</h3>
  </div>
  <div class="modal-body">
    <form>
      <label for="gsc-import-file-type">Select file type</label>
      <select style="width:100%" id="gsc-import-file-type">
        <option ng-repeat="format in config.inventory.formats">{{format}}</option>
      </select>
    </form>
    <div class="progress-title"></div>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="doImportFiles()">Import</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Upload dialog -->
<div class="modal hide" id="gsc-dlg-upload" class="hidden">
  <div class="modal-header">
    <h3>Upload files</h3>
  </div>
  <div class="modal-body">
    <form>
      <label for="files">Select files to upload</label>
      <input style="width:100%" type="file" id="files" multiple onchange="angular.element(this).scope().updateUploadFiles(this)"/>
    </form>
    <table ng-show="files.length" class="table table-bordered table-striped">
      <tr ng-repeat="file in files" ng-class="{'error':file.error, 'success':file.success}" title="{{file.msg}}">
        <td>{{file.name}}</td>
        <td>{{file.size | prettySize}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!(files.length > 0) || inUpload" ng-click="uploadFiles()">Upload</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Name dialog for structs and plugins -->
<div class="modal hide" id="gsc-dlg-name" title="Enter name" class="hidden">
  <div class="modal-header">
    <h3>Enter name</h3>
  </div>
  <div class="modal-body">
    <input ng-model="_entered_name" value="{{_entered_name}}" type="text" placeholder="Enter name..."></input>
    <div class="alert alert-error" ng-model="_entered_name_error" ng-class="{'hidden':!_entered_name_error}">{{_entered_name_error}}</div>
  </div>
  <div class="modal-footer">
    <button ng-click="nameEntered()" class="btn btn-primary" aria-hidden="true">OK</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<div id="module-ctx-add-alias" class="contextmenu">
  <menu ng-model="context.module" ng-switch on="context.module.isAlias">
    <li><a ng-click="setCurrentModule(context.moduleName)" href="#">Set</a></li>
    <li class="divider">{{context.module.isAlias}}</li>
    <li ng-switch-when="false" ng-click="createModuleAlias(context.moduleName)"><a href="#">Create alias</a></li>
    <li ng-switch-when="true" ng-click="deleteModuleAlias(context.moduleName)"><a href="#">Delete alias</a></li>
  </menu>
</div>

<div id="module-ctx-inventory" class="contextmenu">
	<menu>
		<li ng-if="context.treeLevel == 1" ng-click="createNewBindingNode(config.networks, context.treeLevel)">
			<a href="#">Add network</a>
		</li>
		<li ng-if="context.treeLevel == 2" ng-click="createNewBindingNode(context.treeNode, context.treeLevel)">
			<a href="#">Add station</a>
		</li>
		<li ng-if="context.treeLevel == 2" ng-click="deleteNetwork(context.treeNode)">
			<a href="#">Remove network</a>
		</li>
		<li ng-if="context.treeLevel == 3" ng-click="deleteStation(context.treeParentNode, context.treeNode)">
			<a href="#">Remove station</a>
		</li>
		<sub-menu>
			<a href="#">Remove binding</a>
			<menu>
				<sub-menu ng-repeat="(name,mod) in config.modules|supportsBindings">
					<a href="#">{{name}}</a>
					<menu>
						<li ng-click="removeModuleBinding(name, null)"><a href="#"><i>any</i></a></li>
						<li ng-click="removeModuleBinding(name, '')"><a href="#"><i>station</i></a></li>
						<li class="divider"></li>
						<li ng-click="removeModuleBinding(name, profile.name)" ng-repeat="profile in mod.profiles">
							<a href="#">{{profile.name}}</a>
						</li>
					</menu>
				</sub-menu>
			</menu>
		</sub-menu>
	</menu>
</div>

<noscript>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <span class="brand" >SeisComP webconfig</span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="alert alert-error" style="margin-top: 2em">
      Sorry, your browser does not support JavaScript! Enable JavaScript and
      <a href="index.html">reload</a> the page.
      </div>
    </div>
  </div>
</noscript>
<div id="app">
<div id="gsc-header">
  <div id="gsc-sub-title">
    <div id="gsc-mode-toggle" class="headline"></div>
    <div id="gsc-headline" class="headline">
      <h3>{{panel.name}}</h3>
      <p>{{panel.description}}</p>
    </div>
  </div>
  <!-- navbar needs to come after sub title otherwise the menu popups won't work -->
  <div id="gsc-navbar" class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <span class="brand" >SeisComP webconfig</span>
        <ul class="nav" role="navigation">
          <li class="dropdown">
            <a id="drop-config" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
            <menu aria-labelledby="drop-config">
              <li><a href="#" ng-click="configPreview()"><u>P</u>review</a></li>
              <li class="divider"></li>
              <li><a href="#" ng-click="configReload()"><u>R</u>eload</a></li>
              <li><a href="#" ng-click="configSave()"><u>S</u>ave</a></li>
            </menu>
          </li>
          <li class="dropdown">
            <a id="drop-config" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
            <menu aria-labelledby="drop-config">
              <li><a href="#" ng-click="options.showDescriptions = !options.showDescriptions">{{evalIf(options.showDescriptions, 'Hide', 'Show')}} <u>d</u>escriptions</a></li>
            </menu>
          </li>
          <li class="dropdown">
            <a href="#" id="drop-info" role="button" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
            <menu aria-labelledby="drop-info">
              <li><a href="#gsc-dlg-shortcuts" data-toggle="modal">Shortcuts</a></li>
              <li><a href="#gsc-dlg-about" data-toggle="modal">About</a></li>
            </menu>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" id="drop-user" role="button" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
            <menu aria-labelledby="drop-user">
              <li><a href="logout">Log out</a></li>
            </menu>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="gsc-messages" class="alert hidden"></div>
</div>
<div id="gsc-loader" ng-if="progress != undefined">
	<h1><center>Initializing</center></h1>
	<div class="progress progress-striped">
		<div class="bar" style="width:{{progress}}%">
		</div>
	</div>
</div>
<div id="gsc-content">
	<div id="gsc-tab-buttons">
	<ul id="tabs">
		<li ng-repeat="p in panels"><a href="#panel-{{p.name.toLowerCase()}}" class="gsc-icon" ng-class="'gsc-icon-'+p.name.toLowerCase()" ng-click="setCurrentPanel(p)"><span>{{p.name}}</span></a></li>
	</ul>
	</div>
	<div id="system-log-dlg" title="Log window"><pre id ="system-log"></pre></div>
	<div id="gsc-tab-content">

	<!-- Information panel -->
	<div id="panel-information" class="overflow widget">
	<h2>Paths</h2>
	<p>
	  The following table shows the common paths for your SeisComP3 installation.
	  The path names can be used as placeholders in configuration parameters which
	  require path information. Placeholders are used with enclosing @'s, e.g.
	  <code>path = "@DATADIR@/mydata"</code>
	</p>
	<table id="info-tab-paths" class="table table-bordered table-striped">
	  <thead><tr><th>Name</th><th>Value</th></tr></thead>
	  <tbody></tbody>
	</table>
	</div>

	<!-- System panel -->
	<div id="panel-system">
	<div id="system-toolbar" class="navbar-inner navbar-toolbar">
	  <div class="pull-left">
		<select id="system-filter-cat" name="categories" ng-model="filterModuleStatus">
		  <option>All</option>
		  <option ng-repeat="(cat,mods) in categories">{{cat}}</option>
		</select>
	  </div>
	  <div class="pull-left tool-divider">&nbsp;</div>
	  <div class="btn-group pull-left">
		<button class="btn" title="Update application status" ng-click="updateModuleStatus(true)"><i class="icon-refresh"></i></button>
	  </div>
	  <div class="btn-group pull-left">
		<button class="btn btn-success" title="Start selected (or all) modules" ng-click="startModules();"><i class="icon-play icon-white"></i></button>
		<button class="btn btn-danger" title="Stop selected (or all) modules" ng-click="stopModules();"><i class="icon-stop icon-white"></i></button>
		<button class="btn" title="Restart selected (or all) modules" ng-click="restartModules();"><i class="icon-repeat"></i></button>
		<button class="btn" title="Check all modules and restart them if necessary" ng-click="checkModules();"><i class="icon-check"></i></button>
	  </div>
	  <div class="btn-group pull-left">
		<button class="btn btn-success" title="Enable selected (or all) modules" ng-click="enableModules();"><i class="icon-plus-sign icon-white"></i></button>
		<button class="btn btn-danger" title="Disable selected (or all) modules" ng-click="disableModules();"><i class="icon-minus-sign icon-white"></i></button>
	  </div>
	  <div class="btn-group pull-left">
		<button class="btn" title="Update configuration of selected (or all) modules" ng-click="updateConfigModules()"><i class="icon-wrench"></i></button>
		<button class="btn" title="Show log window" onclick="open_log_window();"><i class="icon-book"></i></button>
	  </div>
	  <div id="system-wait"></div>
	</div>
	<div id="system-icons" class="overflow">
	  <div id="system-main" ng-include src="'templates/status/icons.html'">
	  </div>
	</div>
	<div id="system-message" class="alert"></div>
	</div>

	<!-- Inventory panel -->
	<div id="panel-inventory">
	<div id="panel-inventory-left">
	  <div id="upload-toolbar" class="navbar-inner navbar-toolbar">
		<div class="btn-group pull-left">
		  <button class="btn" title="Update file list" ng-click="updateUploadFileList();"><i class="icon-refresh"></i></button>
		  <button class="btn" title="Select all files" ng-click="selectAllUploadFiles(true);"><i class="icon-star"></i></button>
		  <button class="btn" title="Deselect all files" ng-click="selectAllUploadFiles(false);"><i class="icon-star-empty"></i></button>
		  <button class="btn" title="Delete selected files" ng-click="deleteSelectedUploadFiles();"><i class="icon-trash"></i></button>
		</div>
		<div class="btn-group pull-left">
		  <button class="btn" title="Upload files" ng-click="upload()"><i class="icon-upload"></i></button>
		  <button class="btn" title="Import file" ng-click="triggerImport()"><i class="icon-share-alt"></i></button>
		</div>
	  </div>
	  <div id="upload-files" class="overflow">
		<table class="table table-striped table-hover table-condensed">
		  <thead><tr><th>Filename</th><th>Size</th><th>Date</th></tr></thead>
		  <tbody>
		  <tr ng-repeat="file in config.upload.files" ng-click="toggleFileSelection(file)" ng-class="{'info': file.selected}">
			<td><a href="upload/{{file.name}}" target="_blank">{{file.name}}</a></td><td>{{file.size | prettySize}}</td><td>{{file.date}}</td>
		  </tr>
		  </tbody>
		</table>
	  </div>
	</div>
	<div id="panel-inventory-right">
	  <div id="inventory-toolbar" class="navbar-inner navbar-toolbar">
		<div class="btn-group pull-left">
		  <button class="btn" title="Update file list" ng-click="updateInventoryFileList();"><i class="icon-refresh"></i></button>
		  <button class="btn" title="Select all files" ng-click="selectAllInventoryFiles(true);"><i class="icon-star"></i></button>
		  <button class="btn" title="Deselect all files" ng-click="selectAllInventoryFiles(false);"><i class="icon-star-empty"></i></button>
		  <button class="btn" title="Delete selected files" ng-click="deleteSelectedInventoryFiles();"><i class="icon-trash"></i></button>
		</div>
		<div class="btn-group pull-left">
		  <button class="btn" title="Import/upload inventory" ng-click="uploadInventory()"><i class="icon-upload"></i></button>
		</div>
		<div class="btn-group pull-left">
		  <button class="btn" title="Test inventory synchronization with database" ng-click="syncTest()">Test sync</button>
		  <button class="btn btn-primary" title="Merge inventory files and create station keys" ng-click="syncKeys()"><i class="icon-list-alt icon-white"></i></button>
		  <button class="btn btn-primary" title="Sync inventory with database. This is usually done with updating configuration in systems panel." ng-click="syncDb()"><i class="icon-share-alt icon-white"></i></button>
		</div>
	  </div>
	  <div id="inventory-files" class="overflow">
		<table class="table table-striped table-hover table-condensed">
		 <thead><tr><th>Filename</th><th>Size</th><th>Date</th></tr></thead>
		  <tbody>
		  <tr ng-repeat="file in config.inventory.files" ng-click="toggleFileSelection(file)" ng-class="{'info': file.selected}">
			<td><a href="inventory/{{file.name}}" target="_blank">{{file.name}}</a></td><td>{{file.size | prettySize}}</td><td>{{file.date}}</td>
		  </tr>
		  </tbody>
		</table>
	  </div>
	</div>
	</div>

	<!-- Modules panel -->
	<div id="panel-modules">
	<div id="panel-modules-list" class="overflow">
	  <ul class="tree">
		<li ng-repeat="(cat,mods) in categories" class="tree-node closed">
		  <ins ng-class="concat(concat('tree-node', '-childs', mods.length>0),'-last', $last)"
			   ng-click="toggleTreeNode($event)">&nbsp;</ins>
		  <a ng-click="toggleTreeNode($event)" href="#" ng-bind="cat"></a>
		  <ul class="tree">
			<li ng-repeat="module in mods" ng-click="setCurrentModule(module)"
				ng-right-click="openModuleContext($event, module)"
				ng-switch on ="isAlias(module)" ng-class="{removed:config.modules[module].removed}">
			  <ins ng-class="{'tree-node-last':$last}">&nbsp;</ins>
			  <a ng-switch-when="true" class="alias" href="#"
				 title="Alias for {{config.modules[module].aliasFor}}"
				 ng-class="{'active': module == currentModuleName}" ng-bind="module"></a>
			  <a ng-switch-when="false" href="#"
				 title="{{config.modules[module].description}}"
				 ng-class="{'active': module == currentModuleName}" ng-bind="module"></a>
			</li>
		  </ul>
		</li>
	  </ul>
	</div>

	<div id="panel-modules-content" class="muted">
		<div id="panel-modules-content-title">
			<p ng-if="currentModuleName">etc/{{currentModuleName}}.cfg</p>
		</div>
		<div id="panel-modules-content-content" class="overflow"
			 ng-include src="template_dir + 'module.html'"></div>
	</div>
	</div>

	<!-- Bindings panel -->
	<div id="panel-bindings">
	<div id="panel-bindings-left">
	  <!-- Station tree -->
	  <div id="panel-bindings-stations" class="overflow">
		<ul class="tree">
		  <li class="tree-node" ng-right-click="openInventoryContext($event, null, null, 1)">
			<ins ng-class="concat('tree-node', '-childs', config.networks.length>0)+'-last'"
				 ng-click="toggleTreeNode($event)">&nbsp;</ins>
			<a ng-class="{'active': currentInventory}"
			   ng-click="openTreeNode($event);setCurrentInventory()"
			   jqui-drop-accept="acceptInventoryToken(config.networks, $token)"
			   jqui-drop-commit="commitInventoryToken(config.networks, $token)" href="#">Networks</a>
			<ul class="tree">
			  <li ng-repeat="net in config.networks" class="tree-node closed"
			      ng-right-click="openInventoryContext($event, config.networks, net, 2)">
				<ins ng-class="concat(concat('tree-node', '-childs', net.stations.length>0),'-last', $last)"
					 ng-click="toggleTreeNode($event)">&nbsp;</ins>
				<a ng-class="{'active': net == currentNetwork}"
				   ng-click="openTreeNode($event);setCurrentNetwork(net)"
				   jqui-drop-accept="acceptNetworkToken(net, $token)"
				   jqui-drop-commit="commitNetworkToken(net, $token)" href="#" ng-bind="net.code"></a>
				<ul class="tree">
				  <li ng-repeat="sta in net.stations" class="tree-node closed"
				      ng-right-click="openInventoryContext($event, net, sta, 3)">
					<ins ng-class="concat(concat('tree-node', '-childs', sta.config.length>0),'-last', $last)"
						 ng-click="toggleTreeNode($event)">&nbsp;</ins>
					<a ng-class="{'active': sta == currentStation}"
					   ng-click="openTreeNode($event);setCurrentStation(net, sta)"
					   jqui-drop-accept="acceptStationToken(sta, $token)"
					   jqui-drop-commit="commitStationToken(net, sta, $token)" href="#" ng-bind="sta.code"></a>
					<ul class="tree">
					  <li ng-repeat="cfg in sta.config">
						<ins ng-class="{'tree-node-last':$last}">&nbsp;</ins>
						<a ng-click="setCurrentStation(net, sta);openBinding(net.code, sta.code, cfg)" href="#">{{concat(cfg.module, ':', cfg.profile)}}{{cfg.profile}}</a>
					  </li>
					</ul>
				  </li>
				</ul>
			  </li>
			</ul>
		  </li>
	  </div>
	  <div id="panel-bindings-station">
		<div id="panel-bindings-toolbar" class="navbar-inner toolbar">
		  <div class="btn-group pull-left">
			<button class="btn" title="Directory up" ng-click="dirUp();"><i class="icon-arrow-up"></i></button>
			<button class="btn" title="Create new entry" ng-click="createNew();"><i class="icon-file"></i></button>
		  </div>
		  <div class="btn-group pull-right">
			<button class="disabled btn" title="Drag item to trash"
					jqui-drop-accept="acceptTrashToken($token)"
					jqui-drop-commit="commitTrashToken($token)"><i class="icon-trash"></i></button>
		  </div>
		</div>
		<div id="panel-bindings-view" class="overflow"
			 jqui-drop-accept="acceptCurrentStationToken($token)"
			 jqui-drop-commit="commitCurrentStationToken($token)">
		  <div ng-if="currentInventory" class="iconview">
			<div class="iconview-item" ng-repeat="net in config.networks"
				 ng-class="concat('iconview-item-folder', '-empty', net.stations.length==0)"
				 ng-click="setCurrentNetwork(net)"
				 ng-right-click="openInventoryContext($event, config.networks, net, 2)"
				 jqui-drag-start="dragNetworkStart(config.networks, net)"
				 jqui-drop-accept="acceptNetworkToken(net, $token)"
				 jqui-drop-commit="commitNetworkToken(net, $token)">
			  <div></div>
			  <span ng-bind="net.code"></span>
			</div>
			<div class="iconview-last"></div>
		  </div>
		  <div ng-if="currentNetwork" class="iconview">
			<div class="iconview-item" ng-repeat="sta in currentNetwork.stations"
				 ng-class="concat('iconview-item-folder', '-empty', sta.config.length==0)"
				 ng-click="setCurrentStation(currentNetwork, sta)"
				 ng-right-click="openInventoryContext($event, currentNetwork, sta, 3)"
				 jqui-drag-start="dragStationStart(currentNetwork, sta)"
				 jqui-drop-accept="acceptStationToken(sta, $token)"
				 jqui-drop-commit="commitStationToken(currentNetwork, sta, $token)">
			  <div></div>
			  <span ng-bind="sta.code"></span>
			</div>
			<div class="iconview-last"></div>
		  </div>
		  <div ng-if="currentStation" class="iconview">
			<div class="iconview-item" ng-repeat="cfg in currentStation.config"
				 ng-class="'iconview-item-' + choose(cfg.profile, 'link', 'document') + evalIf(cfg.module == currentBindingModuleName && cfg.profile == currentBinding.name, ' active', '')"
				 ng-click="openBinding(currentStationNetwork.code, currentStation.code, cfg)"
				 jqui-drag-start="dragStationBindingStart(currentStationNetwork, currentStation, cfg.module)">
			  <div></div>
			  <span ng-bind="cfg.module"></span>
			</div>
			<div class="iconview-last"></div>
		  </div>
		</div>
	  </div>
	</div>
	<div id="panel-bindings-content">
		<div id="panel-bindings-content-title" class="muted">
			<p ng-if="currentBinding.name">etc/key/{{currentBindingModuleName}}/profile_{{currentBinding.name}}</p>
			<p ng-if="currentBindingID.net">key/{{currentBindingModuleName}}/station_{{currentBindingID.net}}_{{currentBindingID.sta}}</p>
		</div>
		<div id="panel-bindings-content-content" class="overflow"
			 ng-include src="template_dir + 'binding.html'"></div>
	</div>
	<div id="panel-bindings-right">
	  <!-- Modules tree -->
	  <div id="panel-bindings-modules" class="overflow">
		<ul class="tree">
		  <li ng-repeat="(name,mod) in config.modules|supportsBindings"
			  jqui-drag-start="dragModuleStart(name)"
			  jqui-helper="'<span class=\'badge badge-info\'>' + name + '</span>'"
			  class="tree-node closed">
			<ins ng-class="concat(concat('tree-node', '-childs', mod.profiles.length>0),'-last', $last)"
				 ng-click="toggleTreeNode($event)">&nbsp;</ins>
			<a ng-click="openTreeNode($event);setCurrentBindingModule(name)"
			   ng-class="{'active':currentBindingModuleName == name}" href="#">{{name}}</a>
			<ul class="tree">
			  <li class="closed" ng-repeat="profile in mod.profiles | orderBy:profileSortKey">
				<ins ng-class="{'tree-node-last':$last}">&nbsp;</ins>
				<a ng-click="openProfile($parent.name, profile)"
				   jqui-drag-start="dragProfileStart($parent.name, profile.name)"
				   jqui-helper="'<span class=\'badge badge-info\'>' + $parent.name + ':' + profile.name + '</span>'"
				   href="#">{{profile.name}}</a>
			  </li>
			</ul>
		  </li>
		</ul>
		</div>
		<div id="panel-bindings-profiles">
		<div id="panel-bindings-profiles-toolbar" class="navbar-inner toolbar">
			<div class="btn-group pull-left">
				<button class="btn" title="Create new entry" ng-click="createNewProfile(currentBindingModuleName);"><i class="icon-file"></i></button>
			</div>
			<div class="btn-group pull-right">
			<button class="disabled btn" title="Drag item to trash"
			        jqui-drop-accept="acceptTrashToken($token)"
			        jqui-drop-commit="commitTrashToken($token)"><i class="icon-trash"></i></button>
			</div>
		</div>
		<div id="panel-bindings-profiles-view" class="overflow">
			<div ng-if="currentBindingModule" class="iconview">
				<div class="iconview-item iconview-item-document" ng-repeat="profile in currentBindingModule.profiles | orderBy:profileSortKey"
					 ng-click="openProfile(currentBindingModuleName, profile)"
					 ng-class="{'active':currentBinding == profile}"
					 jqui-drag-start="dragProfileStart(currentBindingModuleName, profile.name)"
					 jqui-helper="'<span class=\'badge badge-info\'>' + currentBindingModuleName + ':' + profile.name + '</span>'">
				  <div></div>
				  <span>{{profile.name}}</span>
				</div>
				<!-- div class="iconview-item iconview-item-document" ng-repeat="(sta,binding) in currentBindingModule.bindings">
				  <div></div>
				  <span>{{sta}}</span>
				</div -->
				<div class="iconview-last"></div>
			</div>
		</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</div>
</div>
</div>
</body>
</html>
