<div class="gsc-params">
<div class="gsc-param" ng-repeat="param in container.params"
     ng-class="{'locked':param.locked,'gsc-params-break':$index % 3 == 0}"
     ng-switch on="param.type">
  <div ng-switch-when="boolean">
    <div class="sc-param-cnt" class="controls">
      <div class="sc-param-lock" ng-click="toggleParam(param)"></div>
      <label ng-class="{'disabled':param.locked}">{{param.name}}</label>
      <input type="checkbox" ng-model="param.value" ng-checked="param.value" ng-disabled="param.locked"></input>
    </div>
    <p title="{{param.description}}">{{param.description}}</p>
  </div>
  <div ng-switch-default class="control-group" ng-class="{'error':param.overridden}">
    <div class="sc-param-cnt" class="controls">
      <div class="sc-param-lock" ng-click="toggleParam(param)"></div>
      <label ng-class="{'disabled':param.locked}">{{param.name}}</label>
      <input type="text" ng-model="param.value" value="{{param.value}}" ng-disabled="param.locked"></input>
    </div>
    <p title="{{param.description}}">{{param.description}}</p>
  </div>
</div>
<div class="gsc-params-break"></div>
</div>

<div class="gsc-group" ng-repeat="container in container.groups">
  <div class="gsc-group-handle"></div>
  <span>{{container.name}}</span>
  <div ng-switch on="hasDoc(container)">
    <div ng-switch-when="yes" class="desc alert alert-info">{{container.description}}</div>
  </div>
  <div ng-switch on="container.params || container.groups" ng-include src="'lines.html'" class="cnt"></div>
</div>
