@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular.woff');
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/OpenSans-Italic.woff');
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/OpenSans-Bold.woff');
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/OpenSans-BoldItalic.woff');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/OpenSans-Light.woff');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/OpenSans-LightItalic.woff');
}

h1 { font-size: 3.5em }


body, html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px;
    color: #333;
}
body {
    padding-top: 5.7em;
}

img {
	border: 0;
}

p {
    padding-top: 0;
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.highlightbox {
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    padding: 0;
    margin-bottom: 1em;
}

.highlighttable {
    width: 100%;
    border-collapse: separate;
}

td.linenos {
    width: 1%;
    padding: 5px 0;
    vertical-align: top;
    text-align: right;
    border-right: 1px solid #e5e5e5;
}

.highlight pre, .linenodiv pre {
    line-height: 1.3em;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.linenodiv pre {
    color: rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    color: #00A2B8;
}

a.white {
    color: white;
}

a.black {
    color: black;
}

a {
    outline: none;
}

a:hover {
    color: #00E1FF;
}

.nav a {
    padding-left: 1em;
    color: #333;
    /*font-size: 16px;*/
}

.nav a:hover {
    color: #00E1FF;
}

.nav a.active {
	color: #00A2B8;
}

.nav a > .title {
	display: none;
}

h1,h2,h3,h4 {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.4em;
    padding-top: 0;
}

.container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.container.compact {
    padding-bottom: 0em;
}

.container.compact:last-child {
    padding-bottom: 1.5em;
}

.section {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


.col {
    margin-top: 0;
    margin-bottom: 0;
}


.container.header {
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.container.header img{
    height: 2.2em;
    padding-top: 1em;
}

.container.header > .menu a {
    height: 2.2em;
}

.container.header .menu {
    height: 4.2em;
    line-height: 4.2em;
}


.container.header .banner {
    background-color: #00A2B8;
    color: #93C7CF;
    height: 1.5em;
    line-height: 1.5em;
}

.container.fixbg {
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
}

.container.fixbg h1 {
    margin-top: 1.5em;
    padding: 0;
    font-size: 3.6em;
}

.container.fixbg .section {
    min-height: 16.2em;
}

.container.attached.bottom {
    padding-bottom: 0;
}

.container.attached.top {
    padding-top: 0;
}

.container.content {
    background-color: white;
}

.container.content.attached {
    padding-top: 0;
}

.container.content .title h1 {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 0px;
}

.container.light {
    background-color: #eee;
}

.container.info {
    padding: 0;
    padding-top: 1em;
    background-color: #ffc;
    color: #875;
}

.container.dark {
    background-color: #1a383d;
    color: white;
}

.container.footer {
    font-size: 0.9em;
}

.container.footer ul {
    padding-left: 0;
    list-style: none;
}

.container.footer ul li {
    padding-bottom: 0.5em;
}

.container.footer ul h2 {
    margin: 0;
    color: #00A2B8;
    font-weight: normal;
    padding: 0;
}

.container.footer ul a {
    font-weight: 300;
    color: white;
}

.container.footer h1, .container.footer h2, .container.footer h3 {
    color: #00A2B8;
}

.container.footer a:hover {
    color: #00A2B8;
}

a.category {
    margin-bottom: 1em;
    display: block;
    color: black;
	box-shadow: gray 0px 1px 4px 0px;
}

a.category div {
    padding: 0.5em;
}

a.category div div {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

a.category > div.title {
    background-color: #00A2B8;
    background-size: cover;
    height: 200px;
    color: white;
    margin: 0;
    padding-top: 0;
}

a.category > div.title > h2 {
    /*padding-top: 0;*/
}

a.category div.abstract {
    //background-color: #f2f2f2;
	line-height: 1.8em;
}

a.category:hover div.abstract {
    color: white;
    background-color: #00a2b8;
}

div.product {
    margin-bottom: 20px;
    height: 60px;
    box-shadow: gray 0px 1px 4px 0px;
}

div.product:last-child {
    margin-bottom: 0;
}

div.product h2 {
    margin: 0;
    padding-bottom: 0;
}


div.product svg {
    background-color: #00a2b8;
    float: left;
    margin-right: 0.5em;
    height: 100%;
    width: 60px;
    fill: #F2F2F2;
}

div.product:hover {
    background-color: #00a2b8;
}

div.product:hover h2 {
    color: #F2F2F2;
}
div.product:hover p {
    color: #F2F2F2;
}

div.product a {
    color: black;
}

div.product p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5em;
}

.full-width {
    width: 100%;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

ul.nav, ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu {
    line-height: 1.7em;
}

ul.nav li {
    color: #333;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    float: left;
    margin-left: 2em;
}

ul.menu li a.active {
    color: #00e1ff;
}


/* Contact form */
form.contact {
    /*padding-bottom: 2em;*/
}

form.contact p input,
form.contact p textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    color: #555;
    vertical-align: middle;
    padding: 8px 12px;
    line-height: 1.43em;
    height: 3em;
    margin: 0px 0px 10px;
    box-sizing: border-box;
}

form.contact p textarea {
    height: 10em;
}

form.contact p input:focus,
form.contact p textarea:focus {
    border: 1px solid #00A2B8;
}

form.contact p label {
    font-weight: bold;
}

form.contact input[type=submit] {
    color: white;
    padding: 1em 2.5em;
    margin: 0;
    font-size: 16px;
    border: 0;
    background-color: #00a2b8;
    cursor: pointer;
}

form.contact input[type=submit]:hover {
    background-color: #5ac3d1;
}

form ul.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form ul.errorlist li {
    color: #a44;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

div.span_2_of_12 h2, div.span_2_of_12 h3 {
    font-weight: normal;
}

div.span_2_of_12 p {
    color: rgb(153, 153, 153);
}

div.abstract a>img {
    display: block;
    margin-left: auto;
    height: 2em;
}

.service {
    color: black;
    height: 200px;
    margin-bottom: 1em;
    //background-color: rgb(242, 242, 242);
	box-shadow: gray 0px 1px 4px 0px;
}

.service:hover {
    color: white;
    background-color: #00a2b8;
}

.service:hover .abstract {
    background-color: #00a2b8;
}

.service .title {
    color: white;
    height: 200px;
}

.service .title>h2{
    padding: 0.5em;
}

.service .abstract {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	line-height: 1.8em;
}

img.header {
    float: right;
    margin-top: 2.8em;
    width: 100%;
}


div.img.text {
    float: right;
    width: 50%;
    margin-top: 0.25em;
    margin-left: 1em;
    margin-bottom: 1em;
}

div.img.block img {
    display: block;
}

div.img img {
    width: 100%;
}

div.img.text p {
    color: #888;
    font-style: italic;
}


img.text {
    float: right;
    width: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
}

img.service {
    width: 100%;
    margin-bottom: 1em;
}

.text.clear {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.news {
    margin-bottom: 1em;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #999;
}


.news.abstract {
    color: #999;
}


.news.abstract p {
    padding: 0;
    margin: 0;
}

.news .date {
    color: #888;
}

.events {
    margin-bottom: 1em;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #999;
}

.events.abstract {
    color: #999;
}

.events p {
    padding: 0;
    margin: 0;
}

.events .date {
    padding-left: 30px;
    background-image: url('../img/icon_date.svg');
    background-repeat: no-repeat;
    background-position:0% 50%;
    line-height: 30px;
    color: #999;
}

.events .location {
    padding-left: 30px;
    background-image: url('../img/icon_location.svg');
    background-repeat: no-repeat;
    background-position:0% 50%;
    line-height: 30px;
    color: #999;
}

.events.list .date {
    float: left;
}

.events.list .location {
    float: left;
    margin-left: 4em;
}

div.list div.header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}


div.list div.cell {
    line-height: 2em;
}

a.box {
    color: white;
    padding: 0.5em;
    background-color: #999;
    display: inline-block;
    line-height: 1.5em;
    text-align: center;
    min-width: 15em;
}

a.box:hover {
    background-color: #ccc;
}

a.blue {
    background-color: #00a2b8;
}

a.blue:hover {
    background-color: #5ac3d1;
}

div.thanks {
    background-color: #5ac3d1;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
}

/* Youtube iframe */
.youtube-wrapper {
    position: relative;
}

.youtube-wrapper.full-width {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    padding-top: 75%;
}

.youtube-wrapper.text {
    float: right;
    width: 50%;
    padding-top: 37.5%;
    margin-left: 1em;
}

iframe.youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*colors*/

.blue {    
    color: rgb(0, 162, 184);
}

.grey {
    color: rgb(153, 153, 153);
}

.light {
    background-color: #eee;
}
