table {
	border-collapse: collapse;
}

th {
	font-size: 9pt;
	background-color: #aaaaaa;
	font-weight: normal;
}

tr td {
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 0px solid #ffffff;
	border-right: 0px solid #ffffff;
}

tr.trIndevnrow {
	background-color: #f8fafb;
	cursor: pointer;
	color: blue;
}

tr.trIndevnrow:hover {
	background-color: #f8fafb;
	cursor: pointer;
	color: gray;
}

tr.trIndbigevt {
	background-color: #f8e4e4;
	cursor: pointer;
	color: blue;
}

tr.trIndbigevt:hover {
	background-color: #f8e4e4;
	cursor: pointer;
	color:gray;
}

tr.trIndoddrow {
	background-color: #e7eff2;
	cursor: pointer;
	color: blue;
}

tr.trIndoddrow:hover {
	background-color: #e7eff2;
	cursor: pointer;
	color: gray;
}

tr.evnrow {
	background-color: #f8fafb;
}

tr.oddrow {
	background-color: #e7eff2;
}

tr.bigevt {
	background-color: #f8e4e4;
}

tr.lowevt {
	background-color: white;
	color: gray;
}

td {
	font-size: 8pt;
	padding-left: 2px;
	padding-right: 2px;
	border: 0px solid #fff;
	border-bottom: 1px solid #fff;
}

td.depth {
	text-align: right;
	padding-right: 10px;
}

td.mag {
	text-align: center;
}

tr.bigevt td.mag {
	font-weight: bold;
}

tr.xxlevt td.mag {
	font-weight: bold;
	color: red;
}

.point {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-right: 25px;
	vertical-align: top;
	text-align: left;
	color: #666666;
}

.point2 {
	padding-bottom: 5px;
	padding-right: 5px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	color: #000000;
}

tr.trInd {
	cursor: pointer;
	color: blue;
}

tr.trInd:hover {
	color:gray;
}

body,td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

table.overview {
	margin-top: 0px;
	//margin-bottom: 10px;
	min-height:200px;
	width: 450px;
	text-align:left;
}

table.index {
	margin-top: 0px;
	margin-bottom: 10px;
	min-height:200px;
	width: 90%;
}

table.arrival {
	border: 0;
	width:90%;
	margin: 0 auto;
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666;
}

table.links {
	margin: 0 auto;
	border: 0;
	text-align: center;
}

table.links td {
	width: 25px;
}

#container {
	width: 1018px;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	z-index: 9;
}

#logo {
	padding: 0;
	width: 100%;
	height: 121px;
	width: 100%;
	background: url("../img/banner-fill.png") repeat-x;
	z-index: 0;
	padding-bottom: 3px;
}

#map {
	width: 920px;
	height: 520px;
}

img.banner {
	width: 680px;
	height: 121px;
	position: absolute;
	left: 210px;
	z-index: 0;
}

div.imghead {
	width: 90%;
	display: block;
	position: relative;
	border: none;
	margin: 0 auto;
	z-index: 10;
	margin-top: 25px;
	min-height: 20px;
	background-color: #F2F2F2;
}

a:hover {
	color:gray;
}

#navigation-main {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
	z-index: 10;
	background-color: #30767b;
}

#navigation-main li {
	border-left: 1px solid #DEDEDE;
	float: left;
	padding: 0;
	z-index: 10;
}


#navigation-main li.back {
	width: 40px;
}

#navigation-main li.home {
	width: 100px;
}

#navigation-main li.overview {
	width: 240px;
}

#navigation-main li.other {
	width: 100px;
}

#navigation-main li a {
	display: block;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	width: 100%;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

#navigation-main li a:hover {
	color: #30767b;
	text-decoration: none;
	background-color: white;
}

#navigation-main li a.active,
#navigation-main li a.active:hover {
	color: #30767b;
	background-color: white;
}

#navigation-main li.back a {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/back.png");
}
#navigation-main li.back a:hover {
	background-image: url("../img/back-hover.png");
}


div.bg-right {
	background-color: #30767b;
	min-width: 100%;
	height: 32px;
	z-index: 20;
	text-align: right;
	vertical-align: bottom;
	color: white;
}

div.bg-bottom {
	background-color: #F2F2F2;
	min-width: 100%;
	height: 40px;
	z-index: 20;
}

div.rollbody {
	background-color: white;
	clear: both;
	margin-top: 5px;
	min-height: 600px;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-box-shadow: #808080 5px 5px 10px 0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: #808080 5px 5px 10px 0;
	box-shadow: #808080 5px 5px 10px 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(color=#808080, offx=2, offy=2)";
	filter: "progid:DXImageTransform.Microsoft.DropShadow(color=#808080, offx=2, offy=2)";
	overflow: auto;
}

.close div.rollbody {
	display: none;
}

div.index {
	margin-top: 50px;
}

p.note {
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 15px;
}

div.backLink {
	vertical-align: bottom;
	text-align: center;
}

div.borderPic {
	float: left;
	padding-left: 20px;
	margin: auto;
}

div.overviewPic {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	position: relative;
	left: -5px;
	top: -3px;
}

div.picShadow {
	background-color: #808080;
	position: relative;
}

h1 {
	padding-top: 20px;
	padding-left: 25px;
}

strong.Failure {
	color:red;
}

img {
	border: none;
}

img.distance {
	display: inline;
}

img.azimuth {
	display: inline;
}

img.polar {
	display: inline;
}

img.legend {
	margin-top: 100px;
	display: block;
}
