hr {
	border: 0;
	height: 1px;
	background-color: #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
}

a.rss {
	float: right;
}

.nav a > img {
	width: 1.5em;
	height: 1.5em;
}

div.pagination {
	display: inline-block;
}

div.pagination div {
	display: inline-block;
}

div.pagination div.current {
	display: inline-block;
	width: 4em;
}

div.pagination a,
div.pagination span {
	padding: 4px;
}

div.pagination a {
	color: black;
	font-weight: bold;
}

div.pagination a:hover {
	background-color: #999;
	color: white;
}



/* Event list */
table.events, table.arrivals {
	width: 100%;
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

table.events tbody td:nth-child(9) {
	color: red;
}

table.events tbody td:nth-child(9).M {
	color: green;
}

table.events, table.arrivals {
	border-collapse: collapse;
}

table.events tr > td:nth-child(8) {
	white-space: normal;
}

table.events thead tr > td {
	text-align: center;
}

table.events thead tr > td:nth-child(2) {
	width: 10em;
	text-align: left;
}

table.events thead tr > td:first-child,
table.events thead tr > td:nth-child(8) {
	text-align: left;
}

table.events tbody tr > td:nth-child(3) {
	width: 3em;
}

table.events tbody tr > td:nth-child(5),
table.events tbody tr > td:nth-child(6) {
	white-space: nowrap;
	width: 5em;
	text-align: right;
}

table.events tbody tr > td:nth-child(7) {
	width: 3em;
}

table.events tbody tr > td:nth-child(8) {
	text-align: left;
}

table.events tbody tr > td:nth-child(9) {
	width: 4em;
}

table.events tbody tr > td:nth-child(10) {
	width: 10em;
}

table.events tbody tr > td:nth-child(3),
table.events tbody tr > td:nth-child(4),
table.events tbody tr > td:nth-child(7),
table.events tbody tr > td:nth-child(9) {
	text-align: center;
}

table.events tbody tr > td:nth-child(10) {
	text-align: right;
}

table.events thead tr {
	width: 100%;
	background-color: #e5e5e5;
	height: 50px;
	font-weight: bold;
}

table.events tbody tr {
	cursor: pointer;
}

table.events tbody tr:nth-child(odd),
table.arrivals tbody tr:nth-child(odd) {
	background-color: #F4F5F6;
}

table.events tbody tr:nth-child(odd).big {
	background-color: #dcc;
}

table.events tbody tr:nth-child(even).big {
	background-color: #fdd;
}

table.events tbody tr:hover,
table.events tbody tr:hover.big {
	background-color: #d7f2f6;
}

table.events td {
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
}


/* Event details */
table.overview {
	font-size: 1.2em;
	border-collapse: collapse;
}

table.overview td {
	height: 2em;
}

table.overview td:nth-child(1) {
	padding-right: 2em;
}

table.overview td:nth-child(2) {
	font-weight: bold;
}

/* Search table */
table.search {
	width: 100%;
}

table.search td {
	padding: 0.25em;
	padding-bottom: 0.5em;
}

table.search td:first-child {
	padding-left: 0;
}

table.search td:last-child {
	padding-right: 0;
}

table.search input {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 0.25em;
}

table.search input.tcal {
	min-width: 8em;
}

table.search input[type=submit]
{
	padding: 0.5em 1em;
	border-color: #00A2B8;
	border-radius: 0;
	background-color: #00A2B8;
	color: white;
	cursor: pointer;
}

table.search input[type=submit]:hover {
	background-color: #5ac3d1;
}

.map {
	float: left;
	box-shadow: gray 0px 1px 4px 0px;
}

.map p {
	font-weight: bold;
	padding: 6px;
	text-align: center;
}

.map div.empty {
	width: 512px;
	height: 512px;
}

table.arrivals td {
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

table.arrivals thead {
	font-weight: bold;
	background-color: #e5e5e5;
}

table.arrivals tbody td:nth-child(8) {
	color: red;
}

table.arrivals tbody td:nth-child(8).M {
	color: green;
}

table.arrivals tr > td:nth-child(1),
table.arrivals tr > td:nth-child(2),
table.arrivals tr > td:nth-child(3) {
	text-align: left;
}

table.arrivals tr > td:nth-child(4),
table.arrivals tr > td:nth-child(5),
table.arrivals tr > td:nth-child(6),
table.arrivals tr > td:nth-child(7),
table.arrivals tr > td:nth-child(8) {
	text-align: center;
}

table.arrivals tr > td:nth-child(9),
table.arrivals tr > td:nth-child(10) {
	text-align: right;
}

.square {
	position: relative;
	float: left;
	width: 16.666666666%;
	padding-bottom: 16.666666666%;
}

.square > a, .square > div {
	position: absolute;
	top: 0;
	bottom: 1px;
	left: 0;
	right: 1px;
	display: block;
}

.square > a {
	transition: background-color 0.25s ease-in;
	color: white;
	background-color: #00A2B8;
}

.square > a:hover {
	background-color: #00E1FF;
}

.square > div {
	color: #888;
	background-color: #ccc;
}

.square span {
	position: absolute;
	width: auto;
	height: auto;
}

.square span.label {
	font-weight: bold;
	top: 5px;
	right: 8px;
}

.square span.cnt {
	bottom: 5px;
	right: 8px;
}

.square span.cnt {
}

.square.day {
	width: 14.2857142857%;
	padding-bottom: 14.2857142857%;
}

.square.day.skip-1 {
	margin-left: 14.2857142857%;
}

.square.day.skip-2 {
	margin-left: 28.5714285714%;
}

.square.day.skip-3 {
	margin-left: 42.8571428571%;
}

.square.day.skip-4 {
	margin-left: 57.1428571429%;
}

.square.day.skip-5 {
	margin-left: 71.4285714286%;
}

.square.day.skip-6 {
	margin-left: 85,7142857143%;
}
