{% extends 'base.html' %}
{% block body %}
		<div class="container compact">
			<div class="group section">
				<div class="col span_12_of_12">
					<a href="../../../browser.html">/</a> &raquo;
					<a href="../../{{ BROWSER_YEAR }}.html">{{ BROWSER_YEAR }}</a> &raquo;
					<a href="../{{ BROWSER_MONTH }}.html">{{ BROWSER_MONTH|month_name }}</a> &raquo;
					{{ BROWSER_DAY }}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="group section">
				<div class="col span_12_of_12">
{% include 'table.html' %}
				</div>
			</div>
		</div>
{% endblock %}
{% block footer %}{% endblock %}
