{% extends 'base.html' %}
{% block body %}
		<div class="container compact">
			<div class="group section">
				<div class="col span_12_of_12">
					/
				</div>
			</div>
		</div>
		<div class="container">
			<div class="group section">
				<div class="col span_12_of_12">
{% for y,i in BROWSER_YEARS.iteritems() | sort %}
					<div class="square year">
						<a href="browser/{{y}}.html">
							<span class="label">{{ y }}</span>
							<span class="cnt">{{ i.cnt }}</span>
						</a>
					</div>
{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
{% block footer %}{% endblock %}
