{% extends 'base.html' %}
{% block body %}
		<div class="container compact">
			<div class="group section">
				<div class="col span_12_of_12">
					<a href="../../browser.html">/</a> &raquo;
					<a href="../{{ BROWSER_YEAR }}.html">{{ BROWSER_YEAR }}</a> &raquo;
					{{ BROWSER_MONTH|month_name }}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="group section">
				<div class="col span_12_of_12">
{% for d in range(1,BROWSER_DAYS_PER_MONTH+1) %}
					<div class="square day{% if d==1 %} skip-{{ BROWSER_DAY_OFFSET }}{% endif %}">
{% if d in BROWSER_DAYS %}
						<a href="{{BROWSER_MONTH}}/{{d}}.html">
							<span class="label">{{ d }}</span>
							<span class="cnt">{{ BROWSER_DAYS[d].cnt }}</span>
						</a>
{% else %}
						<div><span class="label">{{ d }}</span></div>
{% endif %}
					</div>
{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
{% block footer %}{% endblock %}
