{% extends 'base.html' %}
{% block body %}
		<div class="container compact">
			<div class="group section">
				<div class="col span_12_of_12">
					<a href="../browser.html">/</a> &raquo;
					{{ BROWSER_YEAR }}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="group section">
				<div class="col span_12_of_12">
{% for m in range(1,13) %}
					<div class="square month">
{% if m in BROWSER_MONTHS %}
						<a href="{{BROWSER_YEAR}}/{{m}}.html">
							<span class="label">{{ m|month_abbr }}</span>
							<span class="cnt">{{ BROWSER_MONTHS[m].cnt }}</span>
						</a>
{% else %}
						<div><span class="label">{{ m|month_abbr }}</span></div>
{% endif %}
					</div>
{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
{% block footer %}{% endblock %}
