<div class="plain-sec" ng-repeat="container in currentBinding.sections">
  <div class="plain-sec-handle" ng-click="toggleCollapse($event)"
       ng-class="{closed: container.name != currentBindingModuleName}"></div>
  <span>{{container.name}}</span>
  <div ng-include src="'templates/plain/container.html'"
       onload="currentModuleName=currentBindingModuleName;currentModuleProfile=currentBinding.name;currentModuleNetwork=currentBindingID.net;currentModuleStation=currentBindingID.sta"
       class="cnt" ng-hide="container.name != currentBindingModuleName"></div>
</div>
<div class="plain-cat" ng-repeat="cat in currentBinding.categories">
  <div class="plain-sec-handle closed" ng-click="toggleCollapse($event)"></div>
  <span>{{cat.name}}</span>
  <div class="cnt" ng-hide="true">
    <div class="plain-sec" ng-repeat="inst in cat.instances">
      <div class="plain-sec-handle closed" ng-click="toggleCollapse($event)"></div>
      <span>{{inst.alias}}{{evalIf(inst.alias != inst.binding.name, ' : ' + inst.binding.name, '')}}</span>
      <button ng-click="deleteBinding(currentBindingModuleName, currentBinding.name, currentBindingID.net, currentBindingID.sta, cat, inst)" class="btn plain-btn-del" type="button" title="Remove this {{cat.name}}."></button>
      <div ng-repeat="container in inst.binding.sections"
           ng-include src="'templates/plain/container.html'"
           onload="currentModuleName=currentBindingModuleName;currentModuleProfile=currentBinding.name;currentModuleNetwork=currentBindingID.net;currentModuleStation=currentBindingID.sta"
           class="cnt" ng-hide="true"></div>
    </div>
    <div class="plain-cat-sel" ng-if="cat.types.length>0">
      <table><tr><td>
        <select ng-model="seltype" ng-init="seltype=cat.types[0].name + ' / ' + cat.types[0].description" cat name="{{cat.name}}">
          <option ng-repeat="type in cat.types" title="{{type.description}}">{{type.name}} / {{type.description|ellipsis}}</option>
        </select></td><td>
        <button ng-click="instantiateBinding(currentBindingModuleName, currentBinding.name, currentBindingID.net, currentBindingID.sta, cat, seltype)" class="btn plain-btn-add" type="button" title="Add new {{cat.name}}"></button>
      </td></tr></table>
    </div>
  </div>
</div>
