<!-- templates/plain/params.html expects var "container" -->
<div class="plain-params" ng-include src="'templates/plain/params.html'"></div>

<div ng-repeat="container in container.structs.instances" class="plain-struct">
  <div ng-click="toggleCollapse($event)" class="plain-group-handle"></div>
  <span>{{container.name}}</span>
  <button ng-if="container.fixed==false" ng-click="deleteStruct($parent.$parent.container, container)" class="btn plain-btn-del" type="button" title="Remove this {{container.type}}."></button>
  <div ng-switch on="container.params || container.groups || container.structs" ng-include src="'templates/plain/container.html'" class="cnt"></div>
</div>

<div ng-repeat="type in container.structs.types">
  <span>{{type}}</span>
  <button ng-click="instantiateStruct(currentModuleName, currentModuleProfile, currentModuleNetwork, currentModuleStation, $parent.container, type)" class="btn plain-btn-add" type="button" title="Add new {{type}}"></button>
</div>

<div class="plain-group" ng-repeat="container in container.groups">
  <div ng-click="toggleCollapse($event)" class="plain-group-handle"></div>
  <span>{{container.name}}</span>
  <div ng-switch on="hasDoc(container)">
    <div ng-switch-when="true" class="desc alert alert-info">{{container.description}}</div>
  </div>
  <div ng-switch on="container.params || container.groups || container.structs" ng-include src="'templates/plain/container.html'" class="cnt"></div>
</div>
