<div class="plain-sec" ng-repeat="container in currentModule.sections">
  <div class="plain-sec-handle" ng-click="toggleCollapse($event)"
       ng-class="{closed: container.name != currentModuleName}"></div>
  <span>{{container.name}}</span>
  <div ng-include src="'templates/plain/container.html'" class="cnt"
       ng-hide="container.name != currentModuleName"></div>
</div>
