<table class="plain" width="100%">
<colgroup>
  <col class="plain-col1"/>
  <col class="plain-col2"/>
  <col class="plain-col3"/>
  <col class="plain-col4"/>
</colgroup>
<tbody ng-repeat="param in container.params"
    ng-class="{'locked':param.locked}" ng-switch on="param.type">
  <tr ng-if="options.showDescriptions">
    <td></td>
    <td class="plain-desc" colspan="3">{{param.description}}</td>
  </tr>
  <tr ng-switch-when="boolean" ng-if="!param.ambigious">
    <div class="plain-param-lock" ng-click="toggleParam(param)" title="If a parameter is locked, it is not activated in this configuration and more technically spoken not defined in the corresponding configuration file."></div>
    <div class="plain-param-cnt">
      <label ng-class="{'disabled':param.locked}" class="checkbox" ng-switch on="isOverridden(param)">{{param.id}}
        <input ng-switch-when="yes" title="This parameter is overridden in a later stage which supersedes the current stage. Whatever is entered here will not be active in the final configuration. The superseded value is used instead." type="checkbox" ng-model="param.value" ng-checked="param.value" ng-disabled="param.locked"></input>
        <input ng-switch-default type="checkbox" ng-model="param.value" ng-checked="param.value == 'true'" ng-disabled="param.locked" title="{{param.description}}"></input>
      </label>
    </div>
  </tr>
  <tr ng-switch-default ng-if="!param.ambigious" class="control-group"
      ng-class="{'error':param.overridden}" ng-switch on="isOverridden(param)">
    <td><div class="plain-param-lock" ng-click="toggleParam(param)" title="If a parameter is locked, it is not activated in this configuration and more technically spoken not defined in the corresponding configuration file."></div></td>
    <td class="id" ng-class="{'disabled':param.locked}">{{param.id}}</td>
    <td class="eq" ng-class="{'disabled':param.locked}" ng-bind-html-unsafe="'&nbsp;=&nbsp;'"></td>
    <td ng-switch-when="yes">
      <input title="This parameter is overridden in a later stage which supersedes the current stage. Whatever is entered here will not be active in the final configuration. The superseded value is used instead."
             ng-model="param.value" value="{{param.value}}" ng-disabled="param.locked" type="text"></input>
    </td>
    <td ng-switch-default>
        <input type="text" ng-model="param.value" value="{{param.value}}" ng-disabled="param.locked" title="{{param.description}}"></input>
    </td>
  </tr>
  <tr ng-switch-default ng-if="param.ambigious">
    <td></td>
    <td class="disabled">{{param.id}}</td>
    <td ng-class="{'disabled':param.locked}" ng-bind-html-unsafe="'&nbsp;=&nbsp;'"></td>
    <td class="alert">This parameter is already defined in another section and disabled.</td>
  </tr>
</tbody>
</table>
